In [10]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pylab import mpl
#正常显示画图时出现的中文和负号
mpl.rcParams['font.sans-serif']=['SimHei']
mpl.rcParams['axes.unicode_minus']=False

In [11]:
def get_all_tw_stock_codes():
    # 从台股官方网站或其他可信来源获取股票代码列表的 CSV 文件
    # 假设我们从一个 CSV 文件中读取所有台股上市公司代码
    url = "https://www.twse.com.tw/exchangeReport/STOCK_DAY_ALL?response=open_data"  # Example URL
    stock_list_df = pd.read_csv(url)
    
    # 提取股票代码列（假设代码在第一列）
    stock_codes = stock_list_df.iloc[:, 0].astype(str) + ".TW"  # 添加 '.TW' 作为 yfinance 代码
    
    return stock_codes.tolist()

In [12]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine
import psycopg2



# 数据获取函数
def get_data(code, start='2019-01-01', end='2024-08-23'):
    # yfinance 期望日期格式为 'YYYY-MM-DD'
    stock = yf.Ticker(code)
    df = stock.history(start=start, end=end, auto_adjust=True)
    df.reset_index(inplace=True)
    
    # 确保 'Date' 列为 datetime 类型
    df['Date'] = pd.to_datetime(df['Date'])
    
    # 添加股票代码列，保持与 tushare 格式一致
    df['ts_code'] = code  
    
    # 将日期格式转换为 'YYYYMMDD'
    df['trade_date'] = df['Date'].dt.strftime('%Y%m%d')
    
    # 重命名列以保持一致性
    df.rename(columns={'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close', 'Volume': 'vol'}, inplace=True)
    
    return df[['ts_code', 'trade_date', 'open', 'high', 'low', 'close', 'vol']]

# 获取当前交易日最新的股票代码和简称
def get_code():
    # yfinance 没有直接提供获取所有股票代码的功能，需要预先获取台股股票代码列表
    codes = get_all_tw_stock_codes()  # 假设你已经实现了这个函数
    return codes

# 将数据插入数据库
def insert_sql(code, data):
    try:
        data.to_sql('stock_data', engine, index=False, if_exists='append')
        # print(code + '写入数据库成功')
    except Exception as e:
        print(code)
        print(e)

# 更新数据或下载其他期间数据
def update_sql(start, end):
    for code in get_code():
        data = get_data(code, start, end)
        insert_sql(code, data)
    print(f'{start} 至 {end} 期间数据已成功更新')

# 获取本地数据库数据
def get_local_data(table_name='stock_data'):
    data = pd.read_sql(table_name, engine)
    d = data.trade_date.unique()
    print(data.shape)
    print(f'数据区间：{d.min()} 至 {d.max()}')
    return data

# 创建数据库引擎
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:8080/postgres')

# 插入数据到数据库
def insert_sql(code, data):
    try:
        data.to_sql('stock_data', engine, index=False, if_exists='append')
        print(f'{code} 数据成功写入数据库')
    except Exception as e:
        print(f'Error inserting data for {code}: {e}')



def get_local_data(table_name='"stock_data"'):
    try:
        data = pd.read_sql_table(table_name, engine)
        d = data['trade_date'].unique()
        print(data.shape)
        print(f'数据区间：{d.min()} 至 {d.max()}')
        return data
    except Exception as e:
        print(f'Error fetching data: {e}')
        return None

def get_local_data(table_name='stock_data', schema=None):
    try:
        data = pd.read_sql_table(table_name, engine, schema=schema)
        d = data['trade_date'].unique()
        print(data.shape)
        print(f'数据区间：{d.min()} 至 {d.max()}')
        return data
    except Exception as e:
        print(f'Error fetching data: {e}')
        return None

# 示例调用
update_sql('2019-01-01', '2024-08-23')  # 更新数据
df = get_local_data()  # 读取数据

        
        
# 示例调用
# update_sql('2022-01-01', '2022-12-31')
# local_data = get_local_data()

0050.TW 数据成功写入数据库
0051.TW 数据成功写入数据库
0052.TW 数据成功写入数据库
0053.TW 数据成功写入数据库
0055.TW 数据成功写入数据库
0056.TW 数据成功写入数据库
0057.TW 数据成功写入数据库
0061.TW 数据成功写入数据库
006203.TW 数据成功写入数据库
006204.TW 数据成功写入数据库
006205.TW 数据成功写入数据库
006206.TW 数据成功写入数据库
006207.TW 数据成功写入数据库
006208.TW 数据成功写入数据库
00625K.TW 数据成功写入数据库
00631L.TW 数据成功写入数据库
00632R.TW 数据成功写入数据库
00633L.TW 数据成功写入数据库
00634R.TW 数据成功写入数据库
00635U.TW 数据成功写入数据库
00636.TW 数据成功写入数据库
00636K.TW 数据成功写入数据库
00637L.TW 数据成功写入数据库
00638R.TW 数据成功写入数据库
00639.TW 数据成功写入数据库
00640L.TW 数据成功写入数据库
00641R.TW 数据成功写入数据库
00642U.TW 数据成功写入数据库
00643.TW 数据成功写入数据库
00643K.TW 数据成功写入数据库
00645.TW 数据成功写入数据库
00646.TW 数据成功写入数据库
00647L.TW 数据成功写入数据库
00648R.TW 数据成功写入数据库
00650L.TW 数据成功写入数据库
00651R.TW 数据成功写入数据库
00652.TW 数据成功写入数据库
00653L.TW 数据成功写入数据库
00654R.TW 数据成功写入数据库
00655L.TW 数据成功写入数据库
00656R.TW 数据成功写入数据库
00657.TW 数据成功写入数据库
00657K.TW 数据成功写入数据库
00660.TW 数据成功写入数据库
00661.TW 数据成功写入数据库
00662.TW 数据成功写入数据库
00663L.TW 数据成功写入数据库
00664R.TW 数据成功写入数据库
00665L.TW 数据成功写入数据库
00666R.TW 数据成功写入数据库
00668.TW 数据成功写入数据库
00668K.TW 数据成功写入数据库
00669R.TW 数据成功写入数据库
00670L.TW 数据成功写入数据库
00671R.TW 数据成功写入数据库
00673R.TW 数据成功写入数据库
00674R.TW 数据成功写入数据库
00675L.TW 数据成功写入数据库
00676R.TW 数据成功写入数据库
00678.TW 数据成功写入数据库
00680L.TW 数据成功写入数据库
00681R.TW 数据成功写入数据库
00682U.TW 数据成功写入数据库
00683L.TW 数据成功写入数据库
00684R.TW 数据成功写入数据库
00685L.TW 数据成功写入数据库
00686R.TW 数据成功写入数据库
00688L.TW 数据成功写入数据库
00689R.TW 数据成功写入数据库
00690.TW 数据成功写入数据库
00692.TW 数据成功写入数据库
00693U.TW 数据成功写入数据库
00700.TW 数据成功写入数据库
00701.TW 数据成功写入数据库
00702.TW 数据成功写入数据库
00703.TW 数据成功写入数据库
00706L.TW 数据成功写入数据库
00707R.TW 数据成功写入数据库
00708L.TW 数据成功写入数据库
00709.TW 数据成功写入数据库
00710B.TW 数据成功写入数据库
00711B.TW 数据成功写入数据库
00712.TW 数据成功写入数据库
00713.TW 数据成功写入数据库
00714.TW 数据成功写入数据库
00715L.TW 数据成功写入数据库
00717.TW 数据成功写入数据库
00728.TW 数据成功写入数据库
00730.TW 数据成功写入数据库
00731.TW 数据成功写入数据库
00733.TW 数据成功写入数据库
00735.TW 数据成功写入数据库
00736.TW 数据成功写入数据库
00737.TW 数据成功写入数据库
00738U.TW 数据成功写入数据库
00739.TW 数据成功写入数据库
00752.TW 数据成功写入数据库
00753L.TW 数据成功写入数据库
00757.TW 数据成功写入数据库
00762.TW 数据成功写入数据库
00763U.TW 数据成功写入数据库
00770.TW 数据成功写入数据库
00771.TW 数据成功写入数据库
00775B.TW 数据成功写入数据库
00783.TW 数据成功写入数据库
00830.TW 数据成功写入数据库
00850.TW 数据成功写入数据库
00851.TW 数据成功写入数据库
00852L.TW 数据成功写入数据库
00861.TW 数据成功写入数据库
00865B.TW 数据成功写入数据库
00875.TW 数据成功写入数据库
00876.TW 数据成功写入数据库
00878.TW 数据成功写入数据库
00881.TW 数据成功写入数据库
00882.TW 数据成功写入数据库
00885.TW 数据成功写入数据库
00891.TW 数据成功写入数据库
00892.TW 数据成功写入数据库
00893.TW 数据成功写入数据库
00894.TW 数据成功写入数据库
00895.TW 数据成功写入数据库
00896.TW 数据成功写入数据库
00897.TW 数据成功写入数据库
00898.TW 数据成功写入数据库
00899.TW 数据成功写入数据库
00900.TW 数据成功写入数据库
00901.TW 数据成功写入数据库
00902.TW 数据成功写入数据库
00903.TW 数据成功写入数据库
00904.TW 数据成功写入数据库
00905.TW 数据成功写入数据库
00907.TW 数据成功写入数据库
00908.TW 数据成功写入数据库
00909.TW 数据成功写入数据库
00910.TW 数据成功写入数据库
00911.TW 数据成功写入数据库
00912.TW 数据成功写入数据库
00913.TW 数据成功写入数据库
00915.TW 数据成功写入数据库
00916.TW 数据成功写入数据库
00917.TW 数据成功写入数据库
00918.TW 数据成功写入数据库
00919.TW 数据成功写入数据库
00920.TW 数据成功写入数据库
00921.TW 数据成功写入数据库
00922.TW 数据成功写入数据库
00923.TW 数据成功写入数据库
00924.TW 数据成功写入数据库
00925.TW 数据成功写入数据库
00926.TW 数据成功写入数据库
00927.TW 数据成功写入数据库
00929.TW 数据成功写入数据库
00930.TW 数据成功写入数据库
00932.TW 数据成功写入数据库
00934.TW 数据成功写入数据库
00935.TW 数据成功写入数据库
00936.TW 数据成功写入数据库
00939.TW 数据成功写入数据库
00940.TW 数据成功写入数据库
00941.TW 数据成功写入数据库
00943.TW 数据成功写入数据库
00944.TW 数据成功写入数据库
00945B.TW 数据成功写入数据库
00946.TW 数据成功写入数据库
00947.TW 数据成功写入数据库
00949.TW 数据成功写入数据库
00951.TW 数据成功写入数据库
00953B.TW 数据成功写入数据库
00954.TW 数据成功写入数据库
00956.TW 数据成功写入数据库
01001T.TW 数据成功写入数据库
01002T.TW 数据成功写入数据库
01004T.TW 数据成功写入数据库
01007T.TW 数据成功写入数据库
01009T.TW 数据成功写入数据库
01010T.TW 数据成功写入数据库

020000.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020011.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020000.TW 数据成功写入数据库
020011.TW 数据成功写入数据库

020012.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020015.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020012.TW 数据成功写入数据库
020015.TW 数据成功写入数据库

020016.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020018.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020016.TW 数据成功写入数据库
020018.TW 数据成功写入数据库

020019.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
02001L.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020019.TW 数据成功写入数据库
02001L.TW 数据成功写入数据库

02001R.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
02001S.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

02001R.TW 数据成功写入数据库
02001S.TW 数据成功写入数据库

020020.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020020.TW 数据成功写入数据库

020028.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020029.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020028.TW 数据成功写入数据库
020029.TW 数据成功写入数据库

020030.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020031.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020030.TW 数据成功写入数据库
020031.TW 数据成功写入数据库

020034.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020032.TW 数据成功写入数据库
020034.TW 数据成功写入数据库

020036.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020037.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020036.TW 数据成功写入数据库
020037.TW 数据成功写入数据库

020038.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020039.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020038.TW 数据成功写入数据库
020039.TW 数据成功写入数据库
1101.TW 数据成功写入数据库
1101B.TW 数据成功写入数据库
1102.TW 数据成功写入数据库
1103.TW 数据成功写入数据库
1104.TW 数据成功写入数据库
1108.TW 数据成功写入数据库
1109.TW 数据成功写入数据库
1110.TW 数据成功写入数据库
1201.TW 数据成功写入数据库
1203.TW 数据成功写入数据库
1210.TW 数据成功写入数据库
1213.TW 数据成功写入数据库
1215.TW 数据成功写入数据库
1216.TW 数据成功写入数据库
1217.TW 数据成功写入数据库
1218.TW 数据成功写入数据库
1219.TW 数据成功写入数据库
1220.TW 数据成功写入数据库
1225.TW 数据成功写入数据库
1227.TW 数据成功写入数据库
1229.TW 数据成功写入数据库
1231.TW 数据成功写入数据库
1232.TW 数据成功写入数据库
1233.TW 数据成功写入数据库
1234.TW 数据成功写入数据库
1235.TW 数据成功写入数据库
1236.TW 数据成功写入数据库
1256.TW 数据成功写入数据库
1301.TW 数据成功写入数据库
1303.TW 数据成功写入数据库
1304.TW 数据成功写入数据库
1305.TW 数据成功写入数据库
1307.TW 数据成功写入数据库
1308.TW 数据成功写入数据库
1309.TW 数据成功写入数据库
1310.TW 数据成功写入数据库
1312.TW 数据成功写入数据库
1312A.TW 数据成功写入数据库
1313.TW 数据成功写入数据库
1314.TW 数据成功写入数据库
1315.TW 数据成功写入数据库
1316.TW 数据成功写入数据库
1319.TW 数据成功写入数据库
1321.TW 数据成功写入数据库
1323.TW 数据成功写入数据库
1324.TW 数据成功写入数据库
1325.TW 数据成功写入数据库
1326.TW 数据成功写入数据库
1337.TW 数据成功写入数据库
1338.TW 数据成功写入数据库
1339.TW 数据成功写入数据库
1340.TW 数据成功写入数据库
1341.TW 数据成功写入数据库
1342.TW 数据成功写入数据库
1402.TW 数据成功写入数据库
1409.TW 数据成功写入数据库
1410.TW 数据成功写入数据库
1413.TW 数据成功写入数据库
1414.TW 数据成功写入数据库
1416.TW 数据成功写入数据库
1417.TW 数据成功写入数据库
1418.TW 数据成功写入数据库
1419.TW 数据成功写入数据库
1423.TW 数据成功写入数据库
1432.TW 数据成功写入数据库
1434.TW 数据成功写入数据库
1435.TW 数据成功写入数据库
1436.TW 数据成功写入数据库
1437.TW 数据成功写入数据库
1438.TW 数据成功写入数据库
1439.TW 数据成功写入数据库
1440.TW 数据成功写入数据库
1441.TW 数据成功写入数据库
1442.TW 数据成功写入数据库
1443.TW 数据成功写入数据库
1444.TW 数据成功写入数据库
1445.TW 数据成功写入数据库
1446.TW 数据成功写入数据库
1447.TW 数据成功写入数据库
1449.TW 数据成功写入数据库
1451.TW 数据成功写入数据库
1452.TW 数据成功写入数据库
1453.TW 数据成功写入数据库
1454.TW 数据成功写入数据库
1455.TW 数据成功写入数据库
1456.TW 数据成功写入数据库
1457.TW 数据成功写入数据库
1459.TW 数据成功写入数据库
1460.TW 数据成功写入数据库
1463.TW 数据成功写入数据库
1464.TW 数据成功写入数据库
1465.TW 数据成功写入数据库
1466.TW 数据成功写入数据库
1467.TW 数据成功写入数据库
1468.TW 数据成功写入数据库
1470.TW 数据成功写入数据库
1471.TW 数据成功写入数据库
1472.TW 数据成功写入数据库
1473.TW 数据成功写入数据库
1474.TW 数据成功写入数据库
1475.TW 数据成功写入数据库
1476.TW 数据成功写入数据库
1477.TW 数据成功写入数据库
1503.TW 数据成功写入数据库
1504.TW 数据成功写入数据库
1506.TW 数据成功写入数据库
1512.TW 数据成功写入数据库
1513.TW 数据成功写入数据库
1514.TW 数据成功写入数据库
1515.TW 数据成功写入数据库
1516.TW 数据成功写入数据库
1517.TW 数据成功写入数据库
1519.TW 数据成功写入数据库
1521.TW 数据成功写入数据库
1522.TW 数据成功写入数据库
1522A.TW 数据成功写入数据库
1524.TW 数据成功写入数据库
1525.TW 数据成功写入数据库
1526.TW 数据成功写入数据库
1527.TW 数据成功写入数据库
1528.TW 数据成功写入数据库
1529.TW 数据成功写入数据库
1530.TW 数据成功写入数据库
1531.TW 数据成功写入数据库
1532.TW 数据成功写入数据库
1533.TW 数据成功写入数据库
1535.TW 数据成功写入数据库
1536.TW 数据成功写入数据库
1537.TW 数据成功写入数据库
1538.TW 数据成功写入数据库
1539.TW 数据成功写入数据库
1540.TW 数据成功写入数据库
1541.TW 数据成功写入数据库
1558.TW 数据成功写入数据库
1560.TW 数据成功写入数据库
1563.TW 数据成功写入数据库
1568.TW 数据成功写入数据库
1582.TW 数据成功写入数据库
1583.TW 数据成功写入数据库
1587.TW 数据成功写入数据库
1589.TW 数据成功写入数据库
1590.TW 数据成功写入数据库
1597.TW 数据成功写入数据库
1598.TW 数据成功写入数据库
1603.TW 数据成功写入数据库
1604.TW 数据成功写入数据库
1605.TW 数据成功写入数据库
1608.TW 数据成功写入数据库
1609.TW 数据成功写入数据库
1611.TW 数据成功写入数据库
1612.TW 数据成功写入数据库
1614.TW 数据成功写入数据库
1615.TW 数据成功写入数据库
1616.TW 数据成功写入数据库
1617.TW 数据成功写入数据库
1618.TW 数据成功写入数据库
1626.TW 数据成功写入数据库
1702.TW 数据成功写入数据库
1707.TW 数据成功写入数据库
1708.TW 数据成功写入数据库
1709.TW 数据成功写入数据库
1710.TW 数据成功写入数据库
1711.TW 数据成功写入数据库
1712.TW 数据成功写入数据库
1713.TW 数据成功写入数据库
1714.TW 数据成功写入数据库
1717.TW 数据成功写入数据库
1718.TW 数据成功写入数据库
1720.TW 数据成功写入数据库
1721.TW 数据成功写入数据库
1722.TW 数据成功写入数据库
1723.TW 数据成功写入数据库
1725.TW 数据成功写入数据库
1726.TW 数据成功写入数据库
1727.TW 数据成功写入数据库
1730.TW 数据成功写入数据库
1731.TW 数据成功写入数据库
1732.TW 数据成功写入数据库
1733.TW 数据成功写入数据库
1734.TW 数据成功写入数据库
1735.TW 数据成功写入数据库
1736.TW 数据成功写入数据库
1737.TW 数据成功写入数据库
1752.TW 数据成功写入数据库
1760.TW 数据成功写入数据库
1762.TW 数据成功写入数据库
1773.TW 数据成功写入数据库
1776.TW 数据成功写入数据库
1783.TW 数据成功写入数据库
1786.TW 数据成功写入数据库
1789.TW 数据成功写入数据库
1795.TW 数据成功写入数据库
1802.TW 数据成功写入数据库
1805.TW 数据成功写入数据库
1806.TW 数据成功写入数据库
1808.TW 数据成功写入数据库
1809.TW 数据成功写入数据库
1810.TW 数据成功写入数据库
1817.TW 数据成功写入数据库
1903.TW 数据成功写入数据库
1904.TW 数据成功写入数据库
1905.TW 数据成功写入数据库
1906.TW 数据成功写入数据库
1907.TW 数据成功写入数据库
1909.TW 数据成功写入数据库
2002.TW 数据成功写入数据库
2002A.TW 数据成功写入数据库
2006.TW 数据成功写入数据库
2007.TW 数据成功写入数据库
2008.TW 数据成功写入数据库
2009.TW 数据成功写入数据库
2010.TW 数据成功写入数据库
2012.TW 数据成功写入数据库
2013.TW 数据成功写入数据库
2014.TW 数据成功写入数据库
2015.TW 数据成功写入数据库
2017.TW 数据成功写入数据库
2020.TW 数据成功写入数据库
2022.TW 数据成功写入数据库
2023.TW 数据成功写入数据库
2024.TW 数据成功写入数据库
2025.TW 数据成功写入数据库
2027.TW 数据成功写入数据库
2028.TW 数据成功写入数据库
2029.TW 数据成功写入数据库
2030.TW 数据成功写入数据库
2031.TW 数据成功写入数据库
2032.TW 数据成功写入数据库
2033.TW 数据成功写入数据库
2034.TW 数据成功写入数据库
2038.TW 数据成功写入数据库
2049.TW 数据成功写入数据库
2059.TW 数据成功写入数据库
2062.TW 数据成功写入数据库
2069.TW 数据成功写入数据库
2101.TW 数据成功写入数据库
2102.TW 数据成功写入数据库
2103.TW 数据成功写入数据库
2104.TW 数据成功写入数据库
2105.TW 数据成功写入数据库
2106.TW 数据成功写入数据库
2107.TW 数据成功写入数据库
2108.TW 数据成功写入数据库
2109.TW 数据成功写入数据库
2114.TW 数据成功写入数据库
2115.TW 数据成功写入数据库
2201.TW 数据成功写入数据库
2204.TW 数据成功写入数据库
2206.TW 数据成功写入数据库
2207.TW 数据成功写入数据库
2208.TW 数据成功写入数据库
2211.TW 数据成功写入数据库
2227.TW 数据成功写入数据库
2228.TW 数据成功写入数据库
2231.TW 数据成功写入数据库
2233.TW 数据成功写入数据库
2236.TW 数据成功写入数据库
2239.TW 数据成功写入数据库
2241.TW 数据成功写入数据库
2243.TW 数据成功写入数据库
2247.TW 数据成功写入数据库
2250.TW 数据成功写入数据库
2254.TW 数据成功写入数据库
2258.TW 数据成功写入数据库
2301.TW 数据成功写入数据库
2302.TW 数据成功写入数据库
2303.TW 数据成功写入数据库
2305.TW 数据成功写入数据库
2308.TW 数据成功写入数据库
2312.TW 数据成功写入数据库
2313.TW 数据成功写入数据库
2314.TW 数据成功写入数据库
2316.TW 数据成功写入数据库
2317.TW 数据成功写入数据库
2321.TW 数据成功写入数据库
2323.TW 数据成功写入数据库
2324.TW 数据成功写入数据库
2327.TW 数据成功写入数据库
2328.TW 数据成功写入数据库
2329.TW 数据成功写入数据库
2330.TW 数据成功写入数据库
2331.TW 数据成功写入数据库
2332.TW 数据成功写入数据库
2337.TW 数据成功写入数据库
2338.TW 数据成功写入数据库
2340.TW 数据成功写入数据库
2342.TW 数据成功写入数据库
2344.TW 数据成功写入数据库
2345.TW 数据成功写入数据库
2347.TW 数据成功写入数据库
2348.TW 数据成功写入数据库
2348A.TW 数据成功写入数据库
2349.TW 数据成功写入数据库
2351.TW 数据成功写入数据库
2352.TW 数据成功写入数据库
2353.TW 数据成功写入数据库
2354.TW 数据成功写入数据库
2355.TW 数据成功写入数据库
2356.TW 数据成功写入数据库
2357.TW 数据成功写入数据库
2359.TW 数据成功写入数据库
2360.TW 数据成功写入数据库
2362.TW 数据成功写入数据库
2363.TW 数据成功写入数据库
2364.TW 数据成功写入数据库
2365.TW 数据成功写入数据库
2367.TW 数据成功写入数据库
2368.TW 数据成功写入数据库
2369.TW 数据成功写入数据库
2371.TW 数据成功写入数据库
2373.TW 数据成功写入数据库
2374.TW 数据成功写入数据库
2375.TW 数据成功写入数据库
2376.TW 数据成功写入数据库
2377.TW 数据成功写入数据库
2379.TW 数据成功写入数据库
2380.TW 数据成功写入数据库
2382.TW 数据成功写入数据库
2383.TW 数据成功写入数据库
2385.TW 数据成功写入数据库
2387.TW 数据成功写入数据库
2388.TW 数据成功写入数据库
2390.TW 数据成功写入数据库
2392.TW 数据成功写入数据库
2393.TW 数据成功写入数据库
2395.TW 数据成功写入数据库
2397.TW 数据成功写入数据库
2399.TW 数据成功写入数据库
2401.TW 数据成功写入数据库
2402.TW 数据成功写入数据库
2404.TW 数据成功写入数据库
2405.TW 数据成功写入数据库
2406.TW 数据成功写入数据库
2408.TW 数据成功写入数据库
2409.TW 数据成功写入数据库
2412.TW 数据成功写入数据库
2413.TW 数据成功写入数据库
2414.TW 数据成功写入数据库
2415.TW 数据成功写入数据库
2417.TW 数据成功写入数据库
2419.TW 数据成功写入数据库
2420.TW 数据成功写入数据库
2421.TW 数据成功写入数据库
2423.TW 数据成功写入数据库
2424.TW 数据成功写入数据库
2425.TW 数据成功写入数据库
2426.TW 数据成功写入数据库
2427.TW 数据成功写入数据库
2428.TW 数据成功写入数据库
2429.TW 数据成功写入数据库
2430.TW 数据成功写入数据库
2431.TW 数据成功写入数据库
2432.TW 数据成功写入数据库
2433.TW 数据成功写入数据库
2434.TW 数据成功写入数据库
2436.TW 数据成功写入数据库
2438.TW 数据成功写入数据库
2439.TW 数据成功写入数据库
2440.TW 数据成功写入数据库
2441.TW 数据成功写入数据库
2442.TW 数据成功写入数据库
2444.TW 数据成功写入数据库
2449.TW 数据成功写入数据库
2450.TW 数据成功写入数据库
2451.TW 数据成功写入数据库
2453.TW 数据成功写入数据库
2454.TW 数据成功写入数据库
2455.TW 数据成功写入数据库
2457.TW 数据成功写入数据库
2458.TW 数据成功写入数据库
2459.TW 数据成功写入数据库
2460.TW 数据成功写入数据库
2461.TW 数据成功写入数据库
2462.TW 数据成功写入数据库
2464.TW 数据成功写入数据库
2465.TW 数据成功写入数据库
2466.TW 数据成功写入数据库
2467.TW 数据成功写入数据库
2468.TW 数据成功写入数据库
2471.TW 数据成功写入数据库
2472.TW 数据成功写入数据库
2474.TW 数据成功写入数据库
2476.TW 数据成功写入数据库
2477.TW 数据成功写入数据库
2478.TW 数据成功写入数据库
2480.TW 数据成功写入数据库
2481.TW 数据成功写入数据库
2482.TW 数据成功写入数据库
2483.TW 数据成功写入数据库
2484.TW 数据成功写入数据库
2485.TW 数据成功写入数据库
2486.TW 数据成功写入数据库
2488.TW 数据成功写入数据库
2489.TW 数据成功写入数据库
2491.TW 数据成功写入数据库
2492.TW 数据成功写入数据库
2493.TW 数据成功写入数据库
2495.TW 数据成功写入数据库
2496.TW 数据成功写入数据库
2497.TW 数据成功写入数据库
2498.TW 数据成功写入数据库
2501.TW 数据成功写入数据库
2504.TW 数据成功写入数据库
2505.TW 数据成功写入数据库
2506.TW 数据成功写入数据库
2509.TW 数据成功写入数据库
2511.TW 数据成功写入数据库
2514.TW 数据成功写入数据库
2515.TW 数据成功写入数据库
2516.TW 数据成功写入数据库
2520.TW 数据成功写入数据库
2524.TW 数据成功写入数据库
2527.TW 数据成功写入数据库
2528.TW 数据成功写入数据库
2530.TW 数据成功写入数据库
2534.TW 数据成功写入数据库
2535.TW 数据成功写入数据库
2536.TW 数据成功写入数据库
2537.TW 数据成功写入数据库
2538.TW 数据成功写入数据库
2539.TW 数据成功写入数据库
2540.TW 数据成功写入数据库
2542.TW 数据成功写入数据库
2543.TW 数据成功写入数据库
2545.TW 数据成功写入数据库
2546.TW 数据成功写入数据库
2547.TW 数据成功写入数据库
2548.TW 数据成功写入数据库
2597.TW 数据成功写入数据库
2601.TW 数据成功写入数据库
2603.TW 数据成功写入数据库
2605.TW 数据成功写入数据库
2606.TW 数据成功写入数据库
2607.TW 数据成功写入数据库
2608.TW 数据成功写入数据库
2609.TW 数据成功写入数据库
2610.TW 数据成功写入数据库
2611.TW 数据成功写入数据库
2612.TW 数据成功写入数据库
2613.TW 数据成功写入数据库
2614.TW 数据成功写入数据库
2615.TW 数据成功写入数据库
2616.TW 数据成功写入数据库
2617.TW 数据成功写入数据库
2618.TW 数据成功写入数据库
2630.TW 数据成功写入数据库
2633.TW 数据成功写入数据库
2634.TW 数据成功写入数据库
2636.TW 数据成功写入数据库
2637.TW 数据成功写入数据库
2642.TW 数据成功写入数据库
2645.TW 数据成功写入数据库
2701.TW 数据成功写入数据库
2702.TW 数据成功写入数据库
2704.TW 数据成功写入数据库
2705.TW 数据成功写入数据库
2706.TW 数据成功写入数据库
2707.TW 数据成功写入数据库
2712.TW 数据成功写入数据库
2722.TW 数据成功写入数据库
2723.TW 数据成功写入数据库
2727.TW 数据成功写入数据库
2731.TW 数据成功写入数据库
2739.TW 数据成功写入数据库
2748.TW 数据成功写入数据库
2753.TW 数据成功写入数据库
2762.TW 数据成功写入数据库
2801.TW 数据成功写入数据库
2809.TW 数据成功写入数据库
2812.TW 数据成功写入数据库
2816.TW 数据成功写入数据库
2820.TW 数据成功写入数据库
2832.TW 数据成功写入数据库
2834.TW 数据成功写入数据库
2836.TW 数据成功写入数据库
2836A.TW 数据成功写入数据库
2838.TW 数据成功写入数据库
2838A.TW 数据成功写入数据库
2845.TW 数据成功写入数据库
2849.TW 数据成功写入数据库
2850.TW 数据成功写入数据库
2851.TW 数据成功写入数据库
2852.TW 数据成功写入数据库
2855.TW 数据成功写入数据库
2867.TW 数据成功写入数据库
2880.TW 数据成功写入数据库
2881.TW 数据成功写入数据库
2881A.TW 数据成功写入数据库
2881B.TW 数据成功写入数据库
2881C.TW 数据成功写入数据库
2882.TW 数据成功写入数据库
2882A.TW 数据成功写入数据库
2882B.TW 数据成功写入数据库
2883.TW 数据成功写入数据库
2883B.TW 数据成功写入数据库
2884.TW 数据成功写入数据库
2885.TW 数据成功写入数据库
2886.TW 数据成功写入数据库
2887.TW 数据成功写入数据库
2887E.TW 数据成功写入数据库
2887F.TW 数据成功写入数据库
2887Z1.TW 数据成功写入数据库
2888.TW 数据成功写入数据库
2888A.TW 数据成功写入数据库
2888B.TW 数据成功写入数据库
2889.TW 数据成功写入数据库
2890.TW 数据成功写入数据库
2891.TW 数据成功写入数据库
2891B.TW 数据成功写入数据库
2891C.TW 数据成功写入数据库
2892.TW 数据成功写入数据库
2897.TW 数据成功写入数据库
2897A.TW 数据成功写入数据库
2901.TW 数据成功写入数据库
2903.TW 数据成功写入数据库
2904.TW 数据成功写入数据库
2905.TW 数据成功写入数据库
2906.TW 数据成功写入数据库
2908.TW 数据成功写入数据库
2910.TW 数据成功写入数据库
2911.TW 数据成功写入数据库
2912.TW 数据成功写入数据库
2913.TW 数据成功写入数据库
2915.TW 数据成功写入数据库
2923.TW 数据成功写入数据库
2929.TW 数据成功写入数据库
2939.TW 数据成功写入数据库
2945.TW 数据成功写入数据库
3002.TW 数据成功写入数据库
3003.TW 数据成功写入数据库
3004.TW 数据成功写入数据库
3005.TW 数据成功写入数据库
3006.TW 数据成功写入数据库
3008.TW 数据成功写入数据库
3010.TW 数据成功写入数据库
3011.TW 数据成功写入数据库
3013.TW 数据成功写入数据库
3014.TW 数据成功写入数据库
3015.TW 数据成功写入数据库
3016.TW 数据成功写入数据库
3017.TW 数据成功写入数据库
3018.TW 数据成功写入数据库
3019.TW 数据成功写入数据库
3021.TW 数据成功写入数据库
3022.TW 数据成功写入数据库
3023.TW 数据成功写入数据库
3024.TW 数据成功写入数据库
3025.TW 数据成功写入数据库
3026.TW 数据成功写入数据库
3027.TW 数据成功写入数据库
3028.TW 数据成功写入数据库
3029.TW 数据成功写入数据库
3030.TW 数据成功写入数据库
3031.TW 数据成功写入数据库
3032.TW 数据成功写入数据库
3033.TW 数据成功写入数据库
3034.TW 数据成功写入数据库
3035.TW 数据成功写入数据库
3036.TW 数据成功写入数据库
3036A.TW 数据成功写入数据库
3037.TW 数据成功写入数据库
3038.TW 数据成功写入数据库
3040.TW 数据成功写入数据库
3041.TW 数据成功写入数据库
3042.TW 数据成功写入数据库
3043.TW 数据成功写入数据库
3044.TW 数据成功写入数据库
3045.TW 数据成功写入数据库
3046.TW 数据成功写入数据库
3047.TW 数据成功写入数据库
3048.TW 数据成功写入数据库
3049.TW 数据成功写入数据库
3050.TW 数据成功写入数据库
3051.TW 数据成功写入数据库
3052.TW 数据成功写入数据库
3054.TW 数据成功写入数据库
3055.TW 数据成功写入数据库
3056.TW 数据成功写入数据库
3057.TW 数据成功写入数据库
3058.TW 数据成功写入数据库
3059.TW 数据成功写入数据库
3060.TW 数据成功写入数据库
3062.TW 数据成功写入数据库
3090.TW 数据成功写入数据库
3092.TW 数据成功写入数据库
3094.TW 数据成功写入数据库
3130.TW 数据成功写入数据库
3138.TW 数据成功写入数据库
3149.TW 数据成功写入数据库
3150.TW 数据成功写入数据库
3164.TW 数据成功写入数据库
3167.TW 数据成功写入数据库
3168.TW 数据成功写入数据库
3189.TW 数据成功写入数据库
3209.TW 数据成功写入数据库
3229.TW 数据成功写入数据库
3231.TW 数据成功写入数据库
3257.TW 数据成功写入数据库
3266.TW 数据成功写入数据库
3296.TW 数据成功写入数据库
3305.TW 数据成功写入数据库
3308.TW 数据成功写入数据库
3311.TW 数据成功写入数据库
3312.TW 数据成功写入数据库
3321.TW 数据成功写入数据库
3338.TW 数据成功写入数据库
3346.TW 数据成功写入数据库
3356.TW 数据成功写入数据库
3376.TW 数据成功写入数据库
3380.TW 数据成功写入数据库
3406.TW 数据成功写入数据库
3413.TW 数据成功写入数据库
3416.TW 数据成功写入数据库
3419.TW 数据成功写入数据库
3432.TW 数据成功写入数据库
3437.TW 数据成功写入数据库
3443.TW 数据成功写入数据库
3447.TW 数据成功写入数据库
3450.TW 数据成功写入数据库
3454.TW 数据成功写入数据库
3481.TW 数据成功写入数据库
3494.TW 数据成功写入数据库
3501.TW 数据成功写入数据库
3504.TW 数据成功写入数据库
3515.TW 数据成功写入数据库
3518.TW 数据成功写入数据库
3528.TW 数据成功写入数据库
3530.TW 数据成功写入数据库
3532.TW 数据成功写入数据库
3533.TW 数据成功写入数据库
3535.TW 数据成功写入数据库
3543.TW 数据成功写入数据库
3545.TW 数据成功写入数据库
3550.TW 数据成功写入数据库
3557.TW 数据成功写入数据库
3563.TW 数据成功写入数据库
3576.TW 数据成功写入数据库
3583.TW 数据成功写入数据库
3588.TW 数据成功写入数据库
3591.TW 数据成功写入数据库
3592.TW 数据成功写入数据库
3593.TW 数据成功写入数据库
3596.TW 数据成功写入数据库
3605.TW 数据成功写入数据库
3607.TW 数据成功写入数据库
3617.TW 数据成功写入数据库
3622.TW 数据成功写入数据库
3645.TW 数据成功写入数据库
3652.TW 数据成功写入数据库
3653.TW 数据成功写入数据库
3661.TW 数据成功写入数据库
3665.TW 数据成功写入数据库
3669.TW 数据成功写入数据库
3673.TW 数据成功写入数据库
3679.TW 数据成功写入数据库
3686.TW 数据成功写入数据库
3694.TW 数据成功写入数据库
3701.TW 数据成功写入数据库
3702.TW 数据成功写入数据库
3702A.TW 数据成功写入数据库
3703.TW 数据成功写入数据库
3704.TW 数据成功写入数据库
3705.TW 数据成功写入数据库
3706.TW 数据成功写入数据库
3708.TW 数据成功写入数据库
3711.TW 数据成功写入数据库
3712.TW 数据成功写入数据库
3714.TW 数据成功写入数据库
3715.TW 数据成功写入数据库
4104.TW 数据成功写入数据库
4106.TW 数据成功写入数据库
4108.TW 数据成功写入数据库
4119.TW 数据成功写入数据库
4133.TW 数据成功写入数据库
4137.TW 数据成功写入数据库
4142.TW 数据成功写入数据库
4148.TW 数据成功写入数据库
4155.TW 数据成功写入数据库
4164.TW 数据成功写入数据库
4190.TW 数据成功写入数据库
4306.TW 数据成功写入数据库
4414.TW 数据成功写入数据库
4426.TW 数据成功写入数据库
4438.TW 数据成功写入数据库
4439.TW 数据成功写入数据库
4440.TW 数据成功写入数据库
4526.TW 数据成功写入数据库
4532.TW 数据成功写入数据库
4536.TW 数据成功写入数据库
4540.TW 数据成功写入数据库
4545.TW 数据成功写入数据库
4551.TW 数据成功写入数据库
4552.TW 数据成功写入数据库
4555.TW 数据成功写入数据库
4557.TW 数据成功写入数据库
4560.TW 数据成功写入数据库
4562.TW 数据成功写入数据库
4564.TW 数据成功写入数据库
4566.TW 数据成功写入数据库
4569.TW 数据成功写入数据库
4571.TW 数据成功写入数据库
4572.TW 数据成功写入数据库
4576.TW 数据成功写入数据库
4581.TW 数据成功写入数据库
4583.TW 数据成功写入数据库
4588.TW 数据成功写入数据库
4720.TW 数据成功写入数据库
4722.TW 数据成功写入数据库
4736.TW 数据成功写入数据库
4737.TW 数据成功写入数据库
4739.TW 数据成功写入数据库
4746.TW 数据成功写入数据库
4755.TW 数据成功写入数据库
4763.TW 数据成功写入数据库
4764.TW 数据成功写入数据库
4766.TW 数据成功写入数据库
4770.TW 数据成功写入数据库
4771.TW 数据成功写入数据库
4807.TW 数据成功写入数据库
4904.TW 数据成功写入数据库
4906.TW 数据成功写入数据库
4912.TW 数据成功写入数据库
4915.TW 数据成功写入数据库
4916.TW 数据成功写入数据库
4919.TW 数据成功写入数据库
4927.TW 数据成功写入数据库
4930.TW 数据成功写入数据库
4934.TW 数据成功写入数据库
4935.TW 数据成功写入数据库
4938.TW 数据成功写入数据库
4942.TW 数据成功写入数据库
4943.TW 数据成功写入数据库
4949.TW 数据成功写入数据库
4952.TW 数据成功写入数据库
4956.TW 数据成功写入数据库
4958.TW 数据成功写入数据库
4960.TW 数据成功写入数据库
4961.TW 数据成功写入数据库
4967.TW 数据成功写入数据库
4968.TW 数据成功写入数据库
4976.TW 数据成功写入数据库
4977.TW 数据成功写入数据库
4989.TW 数据成功写入数据库
4994.TW 数据成功写入数据库
4999.TW 数据成功写入数据库
5007.TW 数据成功写入数据库
5203.TW 数据成功写入数据库
5215.TW 数据成功写入数据库
5222.TW 数据成功写入数据库
5225.TW 数据成功写入数据库
5234.TW 数据成功写入数据库
5243.TW 数据成功写入数据库
5244.TW 数据成功写入数据库
5258.TW 数据成功写入数据库
5269.TW 数据成功写入数据库
5283.TW 数据成功写入数据库
5284.TW 数据成功写入数据库
5285.TW 数据成功写入数据库
5288.TW 数据成功写入数据库
5292.TW 数据成功写入数据库
5306.TW 数据成功写入数据库
5388.TW 数据成功写入数据库
5434.TW 数据成功写入数据库
5469.TW 数据成功写入数据库
5471.TW 数据成功写入数据库
5484.TW 数据成功写入数据库
5515.TW 数据成功写入数据库
5519.TW 数据成功写入数据库
5521.TW 数据成功写入数据库
5522.TW 数据成功写入数据库
5525.TW 数据成功写入数据库
5531.TW 数据成功写入数据库
5533.TW 数据成功写入数据库
5534.TW 数据成功写入数据库
5538.TW 数据成功写入数据库
5546.TW 数据成功写入数据库
5607.TW 数据成功写入数据库
5608.TW 数据成功写入数据库
5706.TW 数据成功写入数据库
5871.TW 数据成功写入数据库
5871A.TW 数据成功写入数据库
5876.TW 数据成功写入数据库
5880.TW 数据成功写入数据库
5906.TW 数据成功写入数据库
5907.TW 数据成功写入数据库
6005.TW 数据成功写入数据库
6024.TW 数据成功写入数据库
6108.TW 数据成功写入数据库
6112.TW 数据成功写入数据库
6115.TW 数据成功写入数据库
6116.TW 数据成功写入数据库
6117.TW 数据成功写入数据库
6120.TW 数据成功写入数据库
6128.TW 数据成功写入数据库
6133.TW 数据成功写入数据库
6136.TW 数据成功写入数据库
6139.TW 数据成功写入数据库
6141.TW 数据成功写入数据库
6142.TW 数据成功写入数据库
6152.TW 数据成功写入数据库
6153.TW 数据成功写入数据库
6155.TW 数据成功写入数据库
6164.TW 数据成功写入数据库
6165.TW 数据成功写入数据库
6166.TW 数据成功写入数据库
6168.TW 数据成功写入数据库
6176.TW 数据成功写入数据库
6177.TW 数据成功写入数据库
6183.TW 数据成功写入数据库
6184.TW 数据成功写入数据库
6189.TW 数据成功写入数据库
6191.TW 数据成功写入数据库
6192.TW 数据成功写入数据库
6196.TW 数据成功写入数据库
6197.TW 数据成功写入数据库
6201.TW 数据成功写入数据库
6202.TW 数据成功写入数据库
6205.TW 数据成功写入数据库
6206.TW 数据成功写入数据库
6209.TW 数据成功写入数据库
6213.TW 数据成功写入数据库
6214.TW 数据成功写入数据库
6215.TW 数据成功写入数据库
6216.TW 数据成功写入数据库
6224.TW 数据成功写入数据库
6225.TW 数据成功写入数据库
6226.TW 数据成功写入数据库
6230.TW 数据成功写入数据库
6235.TW 数据成功写入数据库
6239.TW 数据成功写入数据库
6243.TW 数据成功写入数据库
6257.TW 数据成功写入数据库
6269.TW 数据成功写入数据库
6271.TW 数据成功写入数据库
6277.TW 数据成功写入数据库
6278.TW 数据成功写入数据库
6281.TW 数据成功写入数据库
6282.TW 数据成功写入数据库
6283.TW 数据成功写入数据库
6285.TW 数据成功写入数据库
6288.TW 数据成功写入数据库
6405.TW 数据成功写入数据库
6409.TW 数据成功写入数据库
6412.TW 数据成功写入数据库
6414.TW 数据成功写入数据库
6415.TW 数据成功写入数据库
6416.TW 数据成功写入数据库
6423.TW 数据成功写入数据库
6426.TW 数据成功写入数据库
6431.TW 数据成功写入数据库
6438.TW 数据成功写入数据库
6442.TW 数据成功写入数据库
6443.TW 数据成功写入数据库
6446.TW 数据成功写入数据库
6449.TW 数据成功写入数据库
6451.TW 数据成功写入数据库
6456.TW 数据成功写入数据库
6464.TW 数据成功写入数据库
6472.TW 数据成功写入数据库
6477.TW 数据成功写入数据库
6491.TW 数据成功写入数据库
6504.TW 数据成功写入数据库
6505.TW 数据成功写入数据库
6515.TW 数据成功写入数据库
6525.TW 数据成功写入数据库
6526.TW 数据成功写入数据库
6531.TW 数据成功写入数据库
6533.TW 数据成功写入数据库
6534.TW 数据成功写入数据库
6541.TW 数据成功写入数据库
6550.TW 数据成功写入数据库
6552.TW 数据成功写入数据库
6558.TW 数据成功写入数据库
6573.TW 数据成功写入数据库
6579.TW 数据成功写入数据库
6581.TW 数据成功写入数据库
6582.TW 数据成功写入数据库
6585.TW 数据成功写入数据库
6591.TW 数据成功写入数据库
6592.TW 数据成功写入数据库
6592A.TW 数据成功写入数据库
6592B.TW 数据成功写入数据库
6598.TW 数据成功写入数据库
6605.TW 数据成功写入数据库
6606.TW 数据成功写入数据库
6625.TW 数据成功写入数据库
6641.TW 数据成功写入数据库
6645.TW 数据成功写入数据库
6655.TW 数据成功写入数据库
6657.TW 数据成功写入数据库
6658.TW 数据成功写入数据库
6666.TW 数据成功写入数据库
6668.TW 数据成功写入数据库
6669.TW 数据成功写入数据库
6670.TW 数据成功写入数据库
6671.TW 数据成功写入数据库
6672.TW 数据成功写入数据库
6674.TW 数据成功写入数据库
6689.TW 数据成功写入数据库
6691.TW 数据成功写入数据库
6695.TW 数据成功写入数据库
6698.TW 数据成功写入数据库
6706.TW 数据成功写入数据库
6715.TW 数据成功写入数据库
6719.TW 数据成功写入数据库
6742.TW 数据成功写入数据库
6743.TW 数据成功写入数据库
6753.TW 数据成功写入数据库
6754.TW 数据成功写入数据库
6756.TW 数据成功写入数据库
6757.TW 数据成功写入数据库
6768.TW 数据成功写入数据库
6770.TW 数据成功写入数据库
6771.TW 数据成功写入数据库
6776.TW 数据成功写入数据库
6781.TW 数据成功写入数据库
6782.TW 数据成功写入数据库
6789.TW 数据成功写入数据库
6790.TW 数据成功写入数据库
6792.TW 数据成功写入数据库
6794.TW 数据成功写入数据库
6796.TW 数据成功写入数据库
6799.TW 数据成功写入数据库
6805.TW 数据成功写入数据库
6806.TW 数据成功写入数据库
6807.TW 数据成功写入数据库
6830.TW 数据成功写入数据库
6834.TW 数据成功写入数据库
6835.TW 数据成功写入数据库
6838.TW 数据成功写入数据库
6854.TW 数据成功写入数据库
6861.TW 数据成功写入数据库
6863.TW 数据成功写入数据库
6869.TW 数据成功写入数据库
6873.TW 数据成功写入数据库
6890.TW 数据成功写入数据库
6901.TW 数据成功写入数据库
6902.TW 数据成功写入数据库
6906.TW 数据成功写入数据库
6914.TW 数据成功写入数据库
6916.TW 数据成功写入数据库
6928.TW 数据成功写入数据库
6933.TW 数据成功写入数据库
6937.TW 数据成功写入数据库
6949.TW 数据成功写入数据库
6951.TW 数据成功写入数据库
6952.TW 数据成功写入数据库
6957.TW 数据成功写入数据库
6958.TW 数据成功写入数据库
8011.TW 数据成功写入数据库
8016.TW 数据成功写入数据库
8021.TW 数据成功写入数据库
8028.TW 数据成功写入数据库
8033.TW 数据成功写入数据库
8039.TW 数据成功写入数据库
8046.TW 数据成功写入数据库
8070.TW 数据成功写入数据库
8072.TW 数据成功写入数据库
8081.TW 数据成功写入数据库
8103.TW 数据成功写入数据库
8104.TW 数据成功写入数据库
8105.TW 数据成功写入数据库
8110.TW 数据成功写入数据库
8112.TW 数据成功写入数据库
8112A.TW 数据成功写入数据库
8114.TW 数据成功写入数据库
8131.TW 数据成功写入数据库
8150.TW 数据成功写入数据库
8162.TW 数据成功写入数据库
8163.TW 数据成功写入数据库
8201.TW 数据成功写入数据库
8210.TW 数据成功写入数据库
8213.TW 数据成功写入数据库
8215.TW 数据成功写入数据库
8222.TW 数据成功写入数据库
8249.TW 数据成功写入数据库
8261.TW 数据成功写入数据库
8271.TW 数据成功写入数据库
8341.TW 数据成功写入数据库
8367.TW 数据成功写入数据库
8374.TW 数据成功写入数据库
8404.TW 数据成功写入数据库
8411.TW 数据成功写入数据库
8422.TW 数据成功写入数据库
8429.TW 数据成功写入数据库
8438.TW 数据成功写入数据库
8442.TW 数据成功写入数据库
8443.TW 数据成功写入数据库
8454.TW 数据成功写入数据库
8462.TW 数据成功写入数据库
8463.TW 数据成功写入数据库
8464.TW 数据成功写入数据库
8466.TW 数据成功写入数据库
8467.TW 数据成功写入数据库
8473.TW 数据成功写入数据库
8476.TW 数据成功写入数据库
8478.TW 数据成功写入数据库
8481.TW 数据成功写入数据库
8482.TW 数据成功写入数据库
8487.TW 数据成功写入数据库
8488.TW 数据成功写入数据库
8499.TW 数据成功写入数据库
8926.TW 数据成功写入数据库
8940.TW 数据成功写入数据库
8996.TW 数据成功写入数据库
9103.TW 数据成功写入数据库
910322.TW 数据成功写入数据库
9105.TW 数据成功写入数据库
910861.TW 数据成功写入数据库
9110.TW 数据成功写入数据库
911608.TW 数据成功写入数据库
911622.TW 数据成功写入数据库
911868.TW 数据成功写入数据库
912000.TW 数据成功写入数据库
9136.TW 数据成功写入数据库
9802.TW 数据成功写入数据库
9902.TW 数据成功写入数据库
9904.TW 数据成功写入数据库
9905.TW 数据成功写入数据库
9906.TW 数据成功写入数据库
9907.TW 数据成功写入数据库
9908.TW 数据成功写入数据库
9910.TW 数据成功写入数据库
9911.TW 数据成功写入数据库
9912.TW 数据成功写入数据库
9914.TW 数据成功写入数据库
9917.TW 数据成功写入数据库
9918.TW 数据成功写入数据库
9919.TW 数据成功写入数据库
9921.TW 数据成功写入数据库
9924.TW 数据成功写入数据库
9925.TW 数据成功写入数据库
9926.TW 数据成功写入数据库
9927.TW 数据成功写入数据库
9928.TW 数据成功写入数据库
9929.TW 数据成功写入数据库
9930.TW 数据成功写入数据库
9931.TW 数据成功写入数据库
9933.TW 数据成功写入数据库
9934.TW 数据成功写入数据库
9935.TW 数据成功写入数据库
9937.TW 数据成功写入数据库
9938.TW 数据成功写入数据库
9939.TW 数据成功写入数据库
9940.TW 数据成功写入数据库
9941.TW 数据成功写入数据库
9941A.TW 数据成功写入数据库
9942.TW 数据成功写入数据库
9943.TW 数据成功写入数据库
9944.TW 数据成功写入数据库
9945.TW 数据成功写入数据库
9946.TW 数据成功写入数据库
9955.TW 数据成功写入数据库
9958.TW 数据成功写入数据库
2019-01-01 至 2024-08-23 期间数据已成功更新
(4811307, 7)
数据区间：20190102 至 20240822

In [13]:
#更新数据38分钟
update_sql('2019-01-01','2024-08-23')

0050.TW 数据成功写入数据库
0051.TW 数据成功写入数据库
0052.TW 数据成功写入数据库
0053.TW 数据成功写入数据库
0055.TW 数据成功写入数据库
0056.TW 数据成功写入数据库
0057.TW 数据成功写入数据库
0061.TW 数据成功写入数据库
006203.TW 数据成功写入数据库
006204.TW 数据成功写入数据库
006205.TW 数据成功写入数据库
006206.TW 数据成功写入数据库
006207.TW 数据成功写入数据库
006208.TW 数据成功写入数据库
00625K.TW 数据成功写入数据库
00631L.TW 数据成功写入数据库
00632R.TW 数据成功写入数据库
00633L.TW 数据成功写入数据库
00634R.TW 数据成功写入数据库
00635U.TW 数据成功写入数据库
00636.TW 数据成功写入数据库
00636K.TW 数据成功写入数据库
00637L.TW 数据成功写入数据库
00638R.TW 数据成功写入数据库
00639.TW 数据成功写入数据库
00640L.TW 数据成功写入数据库
00641R.TW 数据成功写入数据库
00642U.TW 数据成功写入数据库
00643.TW 数据成功写入数据库
00643K.TW 数据成功写入数据库
00645.TW 数据成功写入数据库
00646.TW 数据成功写入数据库
00647L.TW 数据成功写入数据库
00648R.TW 数据成功写入数据库
00650L.TW 数据成功写入数据库
00651R.TW 数据成功写入数据库
00652.TW 数据成功写入数据库
00653L.TW 数据成功写入数据库
00654R.TW 数据成功写入数据库
00655L.TW 数据成功写入数据库
00656R.TW 数据成功写入数据库
00657.TW 数据成功写入数据库
00657K.TW 数据成功写入数据库
00660.TW 数据成功写入数据库
00661.TW 数据成功写入数据库
00662.TW 数据成功写入数据库
00663L.TW 数据成功写入数据库
00664R.TW 数据成功写入数据库
00665L.TW 数据成功写入数据库
00666R.TW 数据成功写入数据库
00668.TW 数据成功写入数据库
00668K.TW 数据成功写入数据库
00669R.TW 数据成功写入数据库
00670L.TW 数据成功写入数据库
00671R.TW 数据成功写入数据库
00673R.TW 数据成功写入数据库
00674R.TW 数据成功写入数据库
00675L.TW 数据成功写入数据库
00676R.TW 数据成功写入数据库
00678.TW 数据成功写入数据库
00680L.TW 数据成功写入数据库
00681R.TW 数据成功写入数据库
00682U.TW 数据成功写入数据库
00683L.TW 数据成功写入数据库
00684R.TW 数据成功写入数据库
00685L.TW 数据成功写入数据库
00686R.TW 数据成功写入数据库
00688L.TW 数据成功写入数据库
00689R.TW 数据成功写入数据库
00690.TW 数据成功写入数据库
00692.TW 数据成功写入数据库
00693U.TW 数据成功写入数据库
00700.TW 数据成功写入数据库
00701.TW 数据成功写入数据库
00702.TW 数据成功写入数据库
00703.TW 数据成功写入数据库
00706L.TW 数据成功写入数据库
00707R.TW 数据成功写入数据库
00708L.TW 数据成功写入数据库
00709.TW 数据成功写入数据库
00710B.TW 数据成功写入数据库
00711B.TW 数据成功写入数据库
00712.TW 数据成功写入数据库
00713.TW 数据成功写入数据库
00714.TW 数据成功写入数据库
00715L.TW 数据成功写入数据库
00717.TW 数据成功写入数据库
00728.TW 数据成功写入数据库
00730.TW 数据成功写入数据库
00731.TW 数据成功写入数据库
00733.TW 数据成功写入数据库
00735.TW 数据成功写入数据库
00736.TW 数据成功写入数据库
00737.TW 数据成功写入数据库
00738U.TW 数据成功写入数据库
00739.TW 数据成功写入数据库
00752.TW 数据成功写入数据库
00753L.TW 数据成功写入数据库
00757.TW 数据成功写入数据库
00762.TW 数据成功写入数据库
00763U.TW 数据成功写入数据库
00770.TW 数据成功写入数据库
00771.TW 数据成功写入数据库
00775B.TW 数据成功写入数据库
00783.TW 数据成功写入数据库
00830.TW 数据成功写入数据库
00850.TW 数据成功写入数据库
00851.TW 数据成功写入数据库
00852L.TW 数据成功写入数据库
00861.TW 数据成功写入数据库
00865B.TW 数据成功写入数据库
00875.TW 数据成功写入数据库
00876.TW 数据成功写入数据库
00878.TW 数据成功写入数据库
00881.TW 数据成功写入数据库
00882.TW 数据成功写入数据库
00885.TW 数据成功写入数据库
00891.TW 数据成功写入数据库
00892.TW 数据成功写入数据库
00893.TW 数据成功写入数据库
00894.TW 数据成功写入数据库
00895.TW 数据成功写入数据库
00896.TW 数据成功写入数据库
00897.TW 数据成功写入数据库
00898.TW 数据成功写入数据库
00899.TW 数据成功写入数据库
00900.TW 数据成功写入数据库
00901.TW 数据成功写入数据库
00902.TW 数据成功写入数据库
00903.TW 数据成功写入数据库
00904.TW 数据成功写入数据库
00905.TW 数据成功写入数据库
00907.TW 数据成功写入数据库
00908.TW 数据成功写入数据库
00909.TW 数据成功写入数据库
00910.TW 数据成功写入数据库
00911.TW 数据成功写入数据库
00912.TW 数据成功写入数据库
00913.TW 数据成功写入数据库
00915.TW 数据成功写入数据库
00916.TW 数据成功写入数据库
00917.TW 数据成功写入数据库
00918.TW 数据成功写入数据库
00919.TW 数据成功写入数据库
00920.TW 数据成功写入数据库
00921.TW 数据成功写入数据库
00922.TW 数据成功写入数据库
00923.TW 数据成功写入数据库
00924.TW 数据成功写入数据库
00925.TW 数据成功写入数据库
00926.TW 数据成功写入数据库
00927.TW 数据成功写入数据库
00929.TW 数据成功写入数据库
00930.TW 数据成功写入数据库
00932.TW 数据成功写入数据库
00934.TW 数据成功写入数据库
00935.TW 数据成功写入数据库
00936.TW 数据成功写入数据库
00939.TW 数据成功写入数据库
00940.TW 数据成功写入数据库
00941.TW 数据成功写入数据库
00943.TW 数据成功写入数据库
00944.TW 数据成功写入数据库
00945B.TW 数据成功写入数据库
00946.TW 数据成功写入数据库
00947.TW 数据成功写入数据库
00949.TW 数据成功写入数据库
00951.TW 数据成功写入数据库
00953B.TW 数据成功写入数据库
00954.TW 数据成功写入数据库
00956.TW 数据成功写入数据库
01001T.TW 数据成功写入数据库
01002T.TW 数据成功写入数据库
01004T.TW 数据成功写入数据库
01007T.TW 数据成功写入数据库

020000.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

01009T.TW 数据成功写入数据库
01010T.TW 数据成功写入数据库
020000.TW 数据成功写入数据库

020011.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020012.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020015.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020011.TW 数据成功写入数据库
020012.TW 数据成功写入数据库
020015.TW 数据成功写入数据库

020016.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020018.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020019.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020016.TW 数据成功写入数据库
020018.TW 数据成功写入数据库
020019.TW 数据成功写入数据库

02001L.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
02001R.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
02001S.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

02001L.TW 数据成功写入数据库
02001R.TW 数据成功写入数据库
02001S.TW 数据成功写入数据库

020020.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020028.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020029.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020020.TW 数据成功写入数据库
020028.TW 数据成功写入数据库
020029.TW 数据成功写入数据库

020030.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020031.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020030.TW 数据成功写入数据库
020031.TW 数据成功写入数据库
020032.TW 数据成功写入数据库

020034.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020036.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020037.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020034.TW 数据成功写入数据库
020036.TW 数据成功写入数据库
020037.TW 数据成功写入数据库

020038.TW: Period '1mo' is invalid, must be one of ['1d', '5d']
020039.TW: Period '1mo' is invalid, must be one of ['1d', '5d']

020038.TW 数据成功写入数据库
020039.TW 数据成功写入数据库
1101.TW 数据成功写入数据库
1101B.TW 数据成功写入数据库
1102.TW 数据成功写入数据库
1103.TW 数据成功写入数据库
1104.TW 数据成功写入数据库
1108.TW 数据成功写入数据库
1109.TW 数据成功写入数据库
1110.TW 数据成功写入数据库
1201.TW 数据成功写入数据库
1203.TW 数据成功写入数据库
1210.TW 数据成功写入数据库
1213.TW 数据成功写入数据库
1215.TW 数据成功写入数据库
1216.TW 数据成功写入数据库
1217.TW 数据成功写入数据库
1218.TW 数据成功写入数据库
1219.TW 数据成功写入数据库
1220.TW 数据成功写入数据库
1225.TW 数据成功写入数据库
1227.TW 数据成功写入数据库
1229.TW 数据成功写入数据库
1231.TW 数据成功写入数据库
1232.TW 数据成功写入数据库
1233.TW 数据成功写入数据库
1234.TW 数据成功写入数据库
1235.TW 数据成功写入数据库
1236.TW 数据成功写入数据库
1256.TW 数据成功写入数据库
1301.TW 数据成功写入数据库
1303.TW 数据成功写入数据库
1304.TW 数据成功写入数据库
1305.TW 数据成功写入数据库
1307.TW 数据成功写入数据库
1308.TW 数据成功写入数据库
1309.TW 数据成功写入数据库
1310.TW 数据成功写入数据库
1312.TW 数据成功写入数据库
1312A.TW 数据成功写入数据库
1313.TW 数据成功写入数据库
1314.TW 数据成功写入数据库
1315.TW 数据成功写入数据库
1316.TW 数据成功写入数据库
1319.TW 数据成功写入数据库
1321.TW 数据成功写入数据库
1323.TW 数据成功写入数据库
1324.TW 数据成功写入数据库
1325.TW 数据成功写入数据库
1326.TW 数据成功写入数据库
1337.TW 数据成功写入数据库
1338.TW 数据成功写入数据库
1339.TW 数据成功写入数据库
1340.TW 数据成功写入数据库
1341.TW 数据成功写入数据库
1342.TW 数据成功写入数据库
1402.TW 数据成功写入数据库
1409.TW 数据成功写入数据库
1410.TW 数据成功写入数据库
1413.TW 数据成功写入数据库
1414.TW 数据成功写入数据库
1416.TW 数据成功写入数据库
1417.TW 数据成功写入数据库
1418.TW 数据成功写入数据库
1419.TW 数据成功写入数据库
1423.TW 数据成功写入数据库
1432.TW 数据成功写入数据库
1434.TW 数据成功写入数据库
1435.TW 数据成功写入数据库
1436.TW 数据成功写入数据库
1437.TW 数据成功写入数据库
1438.TW 数据成功写入数据库
1439.TW 数据成功写入数据库
1440.TW 数据成功写入数据库
1441.TW 数据成功写入数据库
1442.TW 数据成功写入数据库
1443.TW 数据成功写入数据库
1444.TW 数据成功写入数据库
1445.TW 数据成功写入数据库
1446.TW 数据成功写入数据库
1447.TW 数据成功写入数据库
1449.TW 数据成功写入数据库
1451.TW 数据成功写入数据库
1452.TW 数据成功写入数据库
1453.TW 数据成功写入数据库
1454.TW 数据成功写入数据库
1455.TW 数据成功写入数据库
1456.TW 数据成功写入数据库
1457.TW 数据成功写入数据库
1459.TW 数据成功写入数据库
1460.TW 数据成功写入数据库
1463.TW 数据成功写入数据库
1464.TW 数据成功写入数据库
1465.TW 数据成功写入数据库
1466.TW 数据成功写入数据库
1467.TW 数据成功写入数据库
1468.TW 数据成功写入数据库
1470.TW 数据成功写入数据库
1471.TW 数据成功写入数据库
1472.TW 数据成功写入数据库
1473.TW 数据成功写入数据库
1474.TW 数据成功写入数据库
1475.TW 数据成功写入数据库
1476.TW 数据成功写入数据库
1477.TW 数据成功写入数据库
1503.TW 数据成功写入数据库
1504.TW 数据成功写入数据库
1506.TW 数据成功写入数据库
1512.TW 数据成功写入数据库
1513.TW 数据成功写入数据库
1514.TW 数据成功写入数据库
1515.TW 数据成功写入数据库
1516.TW 数据成功写入数据库
1517.TW 数据成功写入数据库
1519.TW 数据成功写入数据库
1521.TW 数据成功写入数据库
1522.TW 数据成功写入数据库
1522A.TW 数据成功写入数据库
1524.TW 数据成功写入数据库
1525.TW 数据成功写入数据库
1526.TW 数据成功写入数据库
1527.TW 数据成功写入数据库
1528.TW 数据成功写入数据库
1529.TW 数据成功写入数据库
1530.TW 数据成功写入数据库
1531.TW 数据成功写入数据库
1532.TW 数据成功写入数据库
1533.TW 数据成功写入数据库
1535.TW 数据成功写入数据库
1536.TW 数据成功写入数据库
1537.TW 数据成功写入数据库
1538.TW 数据成功写入数据库
1539.TW 数据成功写入数据库
1540.TW 数据成功写入数据库
1541.TW 数据成功写入数据库
1558.TW 数据成功写入数据库
1560.TW 数据成功写入数据库
1563.TW 数据成功写入数据库
1568.TW 数据成功写入数据库
1582.TW 数据成功写入数据库
1583.TW 数据成功写入数据库
1587.TW 数据成功写入数据库
1589.TW 数据成功写入数据库
1590.TW 数据成功写入数据库
1597.TW 数据成功写入数据库
1598.TW 数据成功写入数据库
1603.TW 数据成功写入数据库
1604.TW 数据成功写入数据库
1605.TW 数据成功写入数据库
1608.TW 数据成功写入数据库
1609.TW 数据成功写入数据库
1611.TW 数据成功写入数据库
1612.TW 数据成功写入数据库
1614.TW 数据成功写入数据库
1615.TW 数据成功写入数据库
1616.TW 数据成功写入数据库
1617.TW 数据成功写入数据库
1618.TW 数据成功写入数据库
1626.TW 数据成功写入数据库
1702.TW 数据成功写入数据库
1707.TW 数据成功写入数据库
1708.TW 数据成功写入数据库
1709.TW 数据成功写入数据库
1710.TW 数据成功写入数据库
1711.TW 数据成功写入数据库
1712.TW 数据成功写入数据库
1713.TW 数据成功写入数据库
1714.TW 数据成功写入数据库
1717.TW 数据成功写入数据库
1718.TW 数据成功写入数据库
1720.TW 数据成功写入数据库
1721.TW 数据成功写入数据库
1722.TW 数据成功写入数据库
1723.TW 数据成功写入数据库
1725.TW 数据成功写入数据库
1726.TW 数据成功写入数据库
1727.TW 数据成功写入数据库
1730.TW 数据成功写入数据库
1731.TW 数据成功写入数据库
1732.TW 数据成功写入数据库
1733.TW 数据成功写入数据库
1734.TW 数据成功写入数据库
1735.TW 数据成功写入数据库
1736.TW 数据成功写入数据库
1737.TW 数据成功写入数据库
1752.TW 数据成功写入数据库
1760.TW 数据成功写入数据库
1762.TW 数据成功写入数据库
1773.TW 数据成功写入数据库
1776.TW 数据成功写入数据库
1783.TW 数据成功写入数据库
1786.TW 数据成功写入数据库
1789.TW 数据成功写入数据库
1795.TW 数据成功写入数据库
1802.TW 数据成功写入数据库
1805.TW 数据成功写入数据库
1806.TW 数据成功写入数据库
1808.TW 数据成功写入数据库
1809.TW 数据成功写入数据库
1810.TW 数据成功写入数据库
1817.TW 数据成功写入数据库
1903.TW 数据成功写入数据库
1904.TW 数据成功写入数据库
1905.TW 数据成功写入数据库
1906.TW 数据成功写入数据库
1907.TW 数据成功写入数据库
1909.TW 数据成功写入数据库
2002.TW 数据成功写入数据库
2002A.TW 数据成功写入数据库
2006.TW 数据成功写入数据库
2007.TW 数据成功写入数据库
2008.TW 数据成功写入数据库
2009.TW 数据成功写入数据库
2010.TW 数据成功写入数据库
2012.TW 数据成功写入数据库
2013.TW 数据成功写入数据库
2014.TW 数据成功写入数据库
2015.TW 数据成功写入数据库
2017.TW 数据成功写入数据库
2020.TW 数据成功写入数据库
2022.TW 数据成功写入数据库
2023.TW 数据成功写入数据库
2024.TW 数据成功写入数据库
2025.TW 数据成功写入数据库
2027.TW 数据成功写入数据库
2028.TW 数据成功写入数据库
2029.TW 数据成功写入数据库
2030.TW 数据成功写入数据库
2031.TW 数据成功写入数据库
2032.TW 数据成功写入数据库
2033.TW 数据成功写入数据库
2034.TW 数据成功写入数据库
2038.TW 数据成功写入数据库
2049.TW 数据成功写入数据库
2059.TW 数据成功写入数据库
2062.TW 数据成功写入数据库
2069.TW 数据成功写入数据库
2101.TW 数据成功写入数据库
2102.TW 数据成功写入数据库
2103.TW 数据成功写入数据库
2104.TW 数据成功写入数据库
2105.TW 数据成功写入数据库
2106.TW 数据成功写入数据库
2107.TW 数据成功写入数据库
2108.TW 数据成功写入数据库
2109.TW 数据成功写入数据库
2114.TW 数据成功写入数据库
2115.TW 数据成功写入数据库
2201.TW 数据成功写入数据库
2204.TW 数据成功写入数据库
2206.TW 数据成功写入数据库
2207.TW 数据成功写入数据库
2208.TW 数据成功写入数据库
2211.TW 数据成功写入数据库
2227.TW 数据成功写入数据库
2228.TW 数据成功写入数据库
2231.TW 数据成功写入数据库
2233.TW 数据成功写入数据库
2236.TW 数据成功写入数据库
2239.TW 数据成功写入数据库
2241.TW 数据成功写入数据库
2243.TW 数据成功写入数据库
2247.TW 数据成功写入数据库
2250.TW 数据成功写入数据库
2254.TW 数据成功写入数据库
2258.TW 数据成功写入数据库
2301.TW 数据成功写入数据库
2302.TW 数据成功写入数据库
2303.TW 数据成功写入数据库
2305.TW 数据成功写入数据库
2308.TW 数据成功写入数据库
2312.TW 数据成功写入数据库
2313.TW 数据成功写入数据库
2314.TW 数据成功写入数据库
2316.TW 数据成功写入数据库
2317.TW 数据成功写入数据库
2321.TW 数据成功写入数据库
2323.TW 数据成功写入数据库
2324.TW 数据成功写入数据库
2327.TW 数据成功写入数据库
2328.TW 数据成功写入数据库
2329.TW 数据成功写入数据库
2330.TW 数据成功写入数据库
2331.TW 数据成功写入数据库
2332.TW 数据成功写入数据库
2337.TW 数据成功写入数据库
2338.TW 数据成功写入数据库
2340.TW 数据成功写入数据库
2342.TW 数据成功写入数据库
2344.TW 数据成功写入数据库
2345.TW 数据成功写入数据库
2347.TW 数据成功写入数据库
2348.TW 数据成功写入数据库
2348A.TW 数据成功写入数据库
2349.TW 数据成功写入数据库
2351.TW 数据成功写入数据库
2352.TW 数据成功写入数据库
2353.TW 数据成功写入数据库
2354.TW 数据成功写入数据库
2355.TW 数据成功写入数据库
2356.TW 数据成功写入数据库
2357.TW 数据成功写入数据库
2359.TW 数据成功写入数据库
2360.TW 数据成功写入数据库
2362.TW 数据成功写入数据库
2363.TW 数据成功写入数据库
2364.TW 数据成功写入数据库
2365.TW 数据成功写入数据库
2367.TW 数据成功写入数据库
2368.TW 数据成功写入数据库
2369.TW 数据成功写入数据库
2371.TW 数据成功写入数据库
2373.TW 数据成功写入数据库
2374.TW 数据成功写入数据库
2375.TW 数据成功写入数据库
2376.TW 数据成功写入数据库
2377.TW 数据成功写入数据库
2379.TW 数据成功写入数据库
2380.TW 数据成功写入数据库
2382.TW 数据成功写入数据库
2383.TW 数据成功写入数据库
2385.TW 数据成功写入数据库
2387.TW 数据成功写入数据库
2388.TW 数据成功写入数据库
2390.TW 数据成功写入数据库
2392.TW 数据成功写入数据库
2393.TW 数据成功写入数据库
2395.TW 数据成功写入数据库
2397.TW 数据成功写入数据库
2399.TW 数据成功写入数据库
2401.TW 数据成功写入数据库
2402.TW 数据成功写入数据库
2404.TW 数据成功写入数据库
2405.TW 数据成功写入数据库
2406.TW 数据成功写入数据库
2408.TW 数据成功写入数据库
2409.TW 数据成功写入数据库
2412.TW 数据成功写入数据库
2413.TW 数据成功写入数据库
2414.TW 数据成功写入数据库
2415.TW 数据成功写入数据库
2417.TW 数据成功写入数据库
2419.TW 数据成功写入数据库
2420.TW 数据成功写入数据库
2421.TW 数据成功写入数据库
2423.TW 数据成功写入数据库
2424.TW 数据成功写入数据库
2425.TW 数据成功写入数据库
2426.TW 数据成功写入数据库
2427.TW 数据成功写入数据库
2428.TW 数据成功写入数据库
2429.TW 数据成功写入数据库
2430.TW 数据成功写入数据库
2431.TW 数据成功写入数据库
2432.TW 数据成功写入数据库
2433.TW 数据成功写入数据库
2434.TW 数据成功写入数据库
2436.TW 数据成功写入数据库
2438.TW 数据成功写入数据库
2439.TW 数据成功写入数据库
2440.TW 数据成功写入数据库
2441.TW 数据成功写入数据库
2442.TW 数据成功写入数据库
2444.TW 数据成功写入数据库
2449.TW 数据成功写入数据库
2450.TW 数据成功写入数据库
2451.TW 数据成功写入数据库
2453.TW 数据成功写入数据库
2454.TW 数据成功写入数据库
2455.TW 数据成功写入数据库
2457.TW 数据成功写入数据库
2458.TW 数据成功写入数据库
2459.TW 数据成功写入数据库
2460.TW 数据成功写入数据库
2461.TW 数据成功写入数据库
2462.TW 数据成功写入数据库
2464.TW 数据成功写入数据库
2465.TW 数据成功写入数据库
2466.TW 数据成功写入数据库
2467.TW 数据成功写入数据库
2468.TW 数据成功写入数据库
2471.TW 数据成功写入数据库
2472.TW 数据成功写入数据库
2474.TW 数据成功写入数据库
2476.TW 数据成功写入数据库
2477.TW 数据成功写入数据库
2478.TW 数据成功写入数据库
2480.TW 数据成功写入数据库
2481.TW 数据成功写入数据库
2482.TW 数据成功写入数据库
2483.TW 数据成功写入数据库
2484.TW 数据成功写入数据库
2485.TW 数据成功写入数据库
2486.TW 数据成功写入数据库
2488.TW 数据成功写入数据库
2489.TW 数据成功写入数据库
2491.TW 数据成功写入数据库
2492.TW 数据成功写入数据库
2493.TW 数据成功写入数据库
2495.TW 数据成功写入数据库
2496.TW 数据成功写入数据库
2497.TW 数据成功写入数据库
2498.TW 数据成功写入数据库
2501.TW 数据成功写入数据库
2504.TW 数据成功写入数据库
2505.TW 数据成功写入数据库
2506.TW 数据成功写入数据库
2509.TW 数据成功写入数据库
2511.TW 数据成功写入数据库
2514.TW 数据成功写入数据库
2515.TW 数据成功写入数据库
2516.TW 数据成功写入数据库
2520.TW 数据成功写入数据库
2524.TW 数据成功写入数据库
2527.TW 数据成功写入数据库
2528.TW 数据成功写入数据库
2530.TW 数据成功写入数据库
2534.TW 数据成功写入数据库
2535.TW 数据成功写入数据库
2536.TW 数据成功写入数据库
2537.TW 数据成功写入数据库
2538.TW 数据成功写入数据库
2539.TW 数据成功写入数据库
2540.TW 数据成功写入数据库
2542.TW 数据成功写入数据库
2543.TW 数据成功写入数据库
2545.TW 数据成功写入数据库
2546.TW 数据成功写入数据库
2547.TW 数据成功写入数据库
2548.TW 数据成功写入数据库
2597.TW 数据成功写入数据库
2601.TW 数据成功写入数据库
2603.TW 数据成功写入数据库
2605.TW 数据成功写入数据库
2606.TW 数据成功写入数据库
2607.TW 数据成功写入数据库
2608.TW 数据成功写入数据库
2609.TW 数据成功写入数据库
2610.TW 数据成功写入数据库
2611.TW 数据成功写入数据库
2612.TW 数据成功写入数据库
2613.TW 数据成功写入数据库
2614.TW 数据成功写入数据库
2615.TW 数据成功写入数据库
2616.TW 数据成功写入数据库
2617.TW 数据成功写入数据库
2618.TW 数据成功写入数据库
2630.TW 数据成功写入数据库
2633.TW 数据成功写入数据库
2634.TW 数据成功写入数据库
2636.TW 数据成功写入数据库
2637.TW 数据成功写入数据库
2642.TW 数据成功写入数据库
2645.TW 数据成功写入数据库
2701.TW 数据成功写入数据库
2702.TW 数据成功写入数据库
2704.TW 数据成功写入数据库
2705.TW 数据成功写入数据库
2706.TW 数据成功写入数据库
2707.TW 数据成功写入数据库
2712.TW 数据成功写入数据库
2722.TW 数据成功写入数据库
2723.TW 数据成功写入数据库
2727.TW 数据成功写入数据库
2731.TW 数据成功写入数据库
2739.TW 数据成功写入数据库
2748.TW 数据成功写入数据库
2753.TW 数据成功写入数据库
2762.TW 数据成功写入数据库
2801.TW 数据成功写入数据库
2809.TW 数据成功写入数据库
2812.TW 数据成功写入数据库
2816.TW 数据成功写入数据库
2820.TW 数据成功写入数据库
2832.TW 数据成功写入数据库
2834.TW 数据成功写入数据库
2836.TW 数据成功写入数据库
2836A.TW 数据成功写入数据库
2838.TW 数据成功写入数据库
2838A.TW 数据成功写入数据库
2845.TW 数据成功写入数据库
2849.TW 数据成功写入数据库
2850.TW 数据成功写入数据库
2851.TW 数据成功写入数据库
2852.TW 数据成功写入数据库
2855.TW 数据成功写入数据库
2867.TW 数据成功写入数据库
2880.TW 数据成功写入数据库
2881.TW 数据成功写入数据库
2881A.TW 数据成功写入数据库
2881B.TW 数据成功写入数据库
2881C.TW 数据成功写入数据库
2882.TW 数据成功写入数据库
2882A.TW 数据成功写入数据库
2882B.TW 数据成功写入数据库
2883.TW 数据成功写入数据库
2883B.TW 数据成功写入数据库
2884.TW 数据成功写入数据库
2885.TW 数据成功写入数据库
2886.TW 数据成功写入数据库
2887.TW 数据成功写入数据库
2887E.TW 数据成功写入数据库
2887F.TW 数据成功写入数据库
2887Z1.TW 数据成功写入数据库
2888.TW 数据成功写入数据库
2888A.TW 数据成功写入数据库
2888B.TW 数据成功写入数据库
2889.TW 数据成功写入数据库
2890.TW 数据成功写入数据库
2891.TW 数据成功写入数据库
2891B.TW 数据成功写入数据库
2891C.TW 数据成功写入数据库
2892.TW 数据成功写入数据库
2897.TW 数据成功写入数据库
2897A.TW 数据成功写入数据库
2901.TW 数据成功写入数据库
2903.TW 数据成功写入数据库
2904.TW 数据成功写入数据库
2905.TW 数据成功写入数据库
2906.TW 数据成功写入数据库
2908.TW 数据成功写入数据库
2910.TW 数据成功写入数据库
2911.TW 数据成功写入数据库
2912.TW 数据成功写入数据库
2913.TW 数据成功写入数据库
2915.TW 数据成功写入数据库
2923.TW 数据成功写入数据库
2929.TW 数据成功写入数据库
2939.TW 数据成功写入数据库
2945.TW 数据成功写入数据库
3002.TW 数据成功写入数据库
3003.TW 数据成功写入数据库
3004.TW 数据成功写入数据库
3005.TW 数据成功写入数据库
3006.TW 数据成功写入数据库
3008.TW 数据成功写入数据库
3010.TW 数据成功写入数据库
3011.TW 数据成功写入数据库
3013.TW 数据成功写入数据库
3014.TW 数据成功写入数据库
3015.TW 数据成功写入数据库
3016.TW 数据成功写入数据库
3017.TW 数据成功写入数据库
3018.TW 数据成功写入数据库
3019.TW 数据成功写入数据库
3021.TW 数据成功写入数据库
3022.TW 数据成功写入数据库
3023.TW 数据成功写入数据库
3024.TW 数据成功写入数据库
3025.TW 数据成功写入数据库
3026.TW 数据成功写入数据库
3027.TW 数据成功写入数据库
3028.TW 数据成功写入数据库
3029.TW 数据成功写入数据库
3030.TW 数据成功写入数据库
3031.TW 数据成功写入数据库
3032.TW 数据成功写入数据库
3033.TW 数据成功写入数据库
3034.TW 数据成功写入数据库
3035.TW 数据成功写入数据库
3036.TW 数据成功写入数据库
3036A.TW 数据成功写入数据库
3037.TW 数据成功写入数据库
3038.TW 数据成功写入数据库
3040.TW 数据成功写入数据库
3041.TW 数据成功写入数据库
3042.TW 数据成功写入数据库
3043.TW 数据成功写入数据库
3044.TW 数据成功写入数据库
3045.TW 数据成功写入数据库
3046.TW 数据成功写入数据库
3047.TW 数据成功写入数据库
3048.TW 数据成功写入数据库
3049.TW 数据成功写入数据库
3050.TW 数据成功写入数据库
3051.TW 数据成功写入数据库
3052.TW 数据成功写入数据库
3054.TW 数据成功写入数据库
3055.TW 数据成功写入数据库
3056.TW 数据成功写入数据库
3057.TW 数据成功写入数据库
3058.TW 数据成功写入数据库
3059.TW 数据成功写入数据库
3060.TW 数据成功写入数据库
3062.TW 数据成功写入数据库
3090.TW 数据成功写入数据库
3092.TW 数据成功写入数据库
3094.TW 数据成功写入数据库
3130.TW 数据成功写入数据库
3138.TW 数据成功写入数据库
3149.TW 数据成功写入数据库
3150.TW 数据成功写入数据库
3164.TW 数据成功写入数据库
3167.TW 数据成功写入数据库
3168.TW 数据成功写入数据库
3189.TW 数据成功写入数据库
3209.TW 数据成功写入数据库
3229.TW 数据成功写入数据库
3231.TW 数据成功写入数据库
3257.TW 数据成功写入数据库
3266.TW 数据成功写入数据库
3296.TW 数据成功写入数据库
3305.TW 数据成功写入数据库
3308.TW 数据成功写入数据库
3311.TW 数据成功写入数据库
3312.TW 数据成功写入数据库
3321.TW 数据成功写入数据库
3338.TW 数据成功写入数据库
3346.TW 数据成功写入数据库
3356.TW 数据成功写入数据库
3376.TW 数据成功写入数据库
3380.TW 数据成功写入数据库
3406.TW 数据成功写入数据库
3413.TW 数据成功写入数据库
3416.TW 数据成功写入数据库
3419.TW 数据成功写入数据库
3432.TW 数据成功写入数据库
3437.TW 数据成功写入数据库
3443.TW 数据成功写入数据库
3447.TW 数据成功写入数据库
3450.TW 数据成功写入数据库
3454.TW 数据成功写入数据库
3481.TW 数据成功写入数据库
3494.TW 数据成功写入数据库
3501.TW 数据成功写入数据库
3504.TW 数据成功写入数据库
3515.TW 数据成功写入数据库
3518.TW 数据成功写入数据库
3528.TW 数据成功写入数据库
3530.TW 数据成功写入数据库
3532.TW 数据成功写入数据库
3533.TW 数据成功写入数据库
3535.TW 数据成功写入数据库
3543.TW 数据成功写入数据库
3545.TW 数据成功写入数据库
3550.TW 数据成功写入数据库
3557.TW 数据成功写入数据库
3563.TW 数据成功写入数据库
3576.TW 数据成功写入数据库
3583.TW 数据成功写入数据库
3588.TW 数据成功写入数据库
3591.TW 数据成功写入数据库
3592.TW 数据成功写入数据库
3593.TW 数据成功写入数据库
3596.TW 数据成功写入数据库
3605.TW 数据成功写入数据库
3607.TW 数据成功写入数据库
3617.TW 数据成功写入数据库
3622.TW 数据成功写入数据库
3645.TW 数据成功写入数据库
3652.TW 数据成功写入数据库
3653.TW 数据成功写入数据库
3661.TW 数据成功写入数据库
3665.TW 数据成功写入数据库
3669.TW 数据成功写入数据库
3673.TW 数据成功写入数据库
3679.TW 数据成功写入数据库
3686.TW 数据成功写入数据库
3694.TW 数据成功写入数据库
3701.TW 数据成功写入数据库
3702.TW 数据成功写入数据库
3702A.TW 数据成功写入数据库
3703.TW 数据成功写入数据库
3704.TW 数据成功写入数据库
3705.TW 数据成功写入数据库
3706.TW 数据成功写入数据库
3708.TW 数据成功写入数据库
3711.TW 数据成功写入数据库
3712.TW 数据成功写入数据库
3714.TW 数据成功写入数据库
3715.TW 数据成功写入数据库
4104.TW 数据成功写入数据库
4106.TW 数据成功写入数据库
4108.TW 数据成功写入数据库
4119.TW 数据成功写入数据库
4133.TW 数据成功写入数据库
4137.TW 数据成功写入数据库
4142.TW 数据成功写入数据库
4148.TW 数据成功写入数据库
4155.TW 数据成功写入数据库
4164.TW 数据成功写入数据库
4190.TW 数据成功写入数据库
4306.TW 数据成功写入数据库
4414.TW 数据成功写入数据库
4426.TW 数据成功写入数据库
4438.TW 数据成功写入数据库
4439.TW 数据成功写入数据库
4440.TW 数据成功写入数据库
4526.TW 数据成功写入数据库
4532.TW 数据成功写入数据库
4536.TW 数据成功写入数据库
4540.TW 数据成功写入数据库
4545.TW 数据成功写入数据库
4551.TW 数据成功写入数据库
4552.TW 数据成功写入数据库
4555.TW 数据成功写入数据库
4557.TW 数据成功写入数据库
4560.TW 数据成功写入数据库
4562.TW 数据成功写入数据库
4564.TW 数据成功写入数据库
4566.TW 数据成功写入数据库
4569.TW 数据成功写入数据库
4571.TW 数据成功写入数据库
4572.TW 数据成功写入数据库
4576.TW 数据成功写入数据库
4581.TW 数据成功写入数据库
4583.TW 数据成功写入数据库
4588.TW 数据成功写入数据库
4720.TW 数据成功写入数据库
4722.TW 数据成功写入数据库
4736.TW 数据成功写入数据库
4737.TW 数据成功写入数据库
4739.TW 数据成功写入数据库
4746.TW 数据成功写入数据库
4755.TW 数据成功写入数据库
4763.TW 数据成功写入数据库
4764.TW 数据成功写入数据库
4766.TW 数据成功写入数据库
4770.TW 数据成功写入数据库
4771.TW 数据成功写入数据库
4807.TW 数据成功写入数据库
4904.TW 数据成功写入数据库
4906.TW 数据成功写入数据库
4912.TW 数据成功写入数据库
4915.TW 数据成功写入数据库
4916.TW 数据成功写入数据库
4919.TW 数据成功写入数据库
4927.TW 数据成功写入数据库
4930.TW 数据成功写入数据库
4934.TW 数据成功写入数据库
4935.TW 数据成功写入数据库
4938.TW 数据成功写入数据库
4942.TW 数据成功写入数据库
4943.TW 数据成功写入数据库
4949.TW 数据成功写入数据库
4952.TW 数据成功写入数据库
4956.TW 数据成功写入数据库
4958.TW 数据成功写入数据库
4960.TW 数据成功写入数据库
4961.TW 数据成功写入数据库
4967.TW 数据成功写入数据库
4968.TW 数据成功写入数据库
4976.TW 数据成功写入数据库
4977.TW 数据成功写入数据库
4989.TW 数据成功写入数据库
4994.TW 数据成功写入数据库
4999.TW 数据成功写入数据库
5007.TW 数据成功写入数据库
5203.TW 数据成功写入数据库
5215.TW 数据成功写入数据库
5222.TW 数据成功写入数据库
5225.TW 数据成功写入数据库
5234.TW 数据成功写入数据库
5243.TW 数据成功写入数据库
5244.TW 数据成功写入数据库
5258.TW 数据成功写入数据库
5269.TW 数据成功写入数据库
5283.TW 数据成功写入数据库
5284.TW 数据成功写入数据库
5285.TW 数据成功写入数据库
5288.TW 数据成功写入数据库
5292.TW 数据成功写入数据库
5306.TW 数据成功写入数据库
5388.TW 数据成功写入数据库
5434.TW 数据成功写入数据库
5469.TW 数据成功写入数据库
5471.TW 数据成功写入数据库
5484.TW 数据成功写入数据库
5515.TW 数据成功写入数据库
5519.TW 数据成功写入数据库
5521.TW 数据成功写入数据库
5522.TW 数据成功写入数据库
5525.TW 数据成功写入数据库
5531.TW 数据成功写入数据库
5533.TW 数据成功写入数据库
5534.TW 数据成功写入数据库
5538.TW 数据成功写入数据库
5546.TW 数据成功写入数据库
5607.TW 数据成功写入数据库
5608.TW 数据成功写入数据库
5706.TW 数据成功写入数据库
5871.TW 数据成功写入数据库
5871A.TW 数据成功写入数据库
5876.TW 数据成功写入数据库
5880.TW 数据成功写入数据库
5906.TW 数据成功写入数据库
5907.TW 数据成功写入数据库
6005.TW 数据成功写入数据库
6024.TW 数据成功写入数据库
6108.TW 数据成功写入数据库
6112.TW 数据成功写入数据库
6115.TW 数据成功写入数据库
6116.TW 数据成功写入数据库
6117.TW 数据成功写入数据库
6120.TW 数据成功写入数据库
6128.TW 数据成功写入数据库
6133.TW 数据成功写入数据库
6136.TW 数据成功写入数据库
6139.TW 数据成功写入数据库
6141.TW 数据成功写入数据库
6142.TW 数据成功写入数据库
6152.TW 数据成功写入数据库
6153.TW 数据成功写入数据库
6155.TW 数据成功写入数据库
6164.TW 数据成功写入数据库
6165.TW 数据成功写入数据库
6166.TW 数据成功写入数据库
6168.TW 数据成功写入数据库
6176.TW 数据成功写入数据库
6177.TW 数据成功写入数据库
6183.TW 数据成功写入数据库
6184.TW 数据成功写入数据库
6189.TW 数据成功写入数据库
6191.TW 数据成功写入数据库
6192.TW 数据成功写入数据库
6196.TW 数据成功写入数据库
6197.TW 数据成功写入数据库
6201.TW 数据成功写入数据库
6202.TW 数据成功写入数据库
6205.TW 数据成功写入数据库
6206.TW 数据成功写入数据库
6209.TW 数据成功写入数据库
6213.TW 数据成功写入数据库
6214.TW 数据成功写入数据库
6215.TW 数据成功写入数据库
6216.TW 数据成功写入数据库
6224.TW 数据成功写入数据库
6225.TW 数据成功写入数据库
6226.TW 数据成功写入数据库
6230.TW 数据成功写入数据库
6235.TW 数据成功写入数据库
6239.TW 数据成功写入数据库
6243.TW 数据成功写入数据库
6257.TW 数据成功写入数据库
6269.TW 数据成功写入数据库
6271.TW 数据成功写入数据库
6277.TW 数据成功写入数据库
6278.TW 数据成功写入数据库
6281.TW 数据成功写入数据库
6282.TW 数据成功写入数据库
6283.TW 数据成功写入数据库
6285.TW 数据成功写入数据库
6288.TW 数据成功写入数据库
6405.TW 数据成功写入数据库
6409.TW 数据成功写入数据库
6412.TW 数据成功写入数据库
6414.TW 数据成功写入数据库
6415.TW 数据成功写入数据库
6416.TW 数据成功写入数据库
6423.TW 数据成功写入数据库
6426.TW 数据成功写入数据库
6431.TW 数据成功写入数据库
6438.TW 数据成功写入数据库
6442.TW 数据成功写入数据库
6443.TW 数据成功写入数据库
6446.TW 数据成功写入数据库
6449.TW 数据成功写入数据库
6451.TW 数据成功写入数据库
6456.TW 数据成功写入数据库
6464.TW 数据成功写入数据库
6472.TW 数据成功写入数据库
6477.TW 数据成功写入数据库
6491.TW 数据成功写入数据库
6504.TW 数据成功写入数据库
6505.TW 数据成功写入数据库
6515.TW 数据成功写入数据库
6525.TW 数据成功写入数据库
6526.TW 数据成功写入数据库
6531.TW 数据成功写入数据库
6533.TW 数据成功写入数据库
6534.TW 数据成功写入数据库
6541.TW 数据成功写入数据库
6550.TW 数据成功写入数据库
6552.TW 数据成功写入数据库
6558.TW 数据成功写入数据库
6573.TW 数据成功写入数据库
6579.TW 数据成功写入数据库
6581.TW 数据成功写入数据库
6582.TW 数据成功写入数据库
6585.TW 数据成功写入数据库
6591.TW 数据成功写入数据库
6592.TW 数据成功写入数据库
6592A.TW 数据成功写入数据库
6592B.TW 数据成功写入数据库
6598.TW 数据成功写入数据库
6605.TW 数据成功写入数据库
6606.TW 数据成功写入数据库
6625.TW 数据成功写入数据库
6641.TW 数据成功写入数据库
6645.TW 数据成功写入数据库
6655.TW 数据成功写入数据库
6657.TW 数据成功写入数据库
6658.TW 数据成功写入数据库
6666.TW 数据成功写入数据库
6668.TW 数据成功写入数据库
6669.TW 数据成功写入数据库
6670.TW 数据成功写入数据库
6671.TW 数据成功写入数据库
6672.TW 数据成功写入数据库
6674.TW 数据成功写入数据库
6689.TW 数据成功写入数据库
6691.TW 数据成功写入数据库
6695.TW 数据成功写入数据库
6698.TW 数据成功写入数据库
6706.TW 数据成功写入数据库
6715.TW 数据成功写入数据库
6719.TW 数据成功写入数据库
6742.TW 数据成功写入数据库
6743.TW 数据成功写入数据库
6753.TW 数据成功写入数据库
6754.TW 数据成功写入数据库
6756.TW 数据成功写入数据库
6757.TW 数据成功写入数据库
6768.TW 数据成功写入数据库
6770.TW 数据成功写入数据库
6771.TW 数据成功写入数据库
6776.TW 数据成功写入数据库
6781.TW 数据成功写入数据库
6782.TW 数据成功写入数据库
6789.TW 数据成功写入数据库
6790.TW 数据成功写入数据库
6792.TW 数据成功写入数据库
6794.TW 数据成功写入数据库
6796.TW 数据成功写入数据库
6799.TW 数据成功写入数据库
6805.TW 数据成功写入数据库
6806.TW 数据成功写入数据库
6807.TW 数据成功写入数据库
6830.TW 数据成功写入数据库
6834.TW 数据成功写入数据库
6835.TW 数据成功写入数据库
6838.TW 数据成功写入数据库
6854.TW 数据成功写入数据库
6861.TW 数据成功写入数据库
6863.TW 数据成功写入数据库
6869.TW 数据成功写入数据库
6873.TW 数据成功写入数据库
6890.TW 数据成功写入数据库
6901.TW 数据成功写入数据库
6902.TW 数据成功写入数据库
6906.TW 数据成功写入数据库
6914.TW 数据成功写入数据库
6916.TW 数据成功写入数据库
6928.TW 数据成功写入数据库
6933.TW 数据成功写入数据库
6937.TW 数据成功写入数据库
6949.TW 数据成功写入数据库
6951.TW 数据成功写入数据库
6952.TW 数据成功写入数据库
6957.TW 数据成功写入数据库
6958.TW 数据成功写入数据库
8011.TW 数据成功写入数据库
8016.TW 数据成功写入数据库
8021.TW 数据成功写入数据库
8028.TW 数据成功写入数据库
8033.TW 数据成功写入数据库
8039.TW 数据成功写入数据库
8046.TW 数据成功写入数据库
8070.TW 数据成功写入数据库
8072.TW 数据成功写入数据库
8081.TW 数据成功写入数据库
8103.TW 数据成功写入数据库
8104.TW 数据成功写入数据库
8105.TW 数据成功写入数据库
8110.TW 数据成功写入数据库
8112.TW 数据成功写入数据库
8112A.TW 数据成功写入数据库
8114.TW 数据成功写入数据库
8131.TW 数据成功写入数据库
8150.TW 数据成功写入数据库
8162.TW 数据成功写入数据库
8163.TW 数据成功写入数据库
8201.TW 数据成功写入数据库
8210.TW 数据成功写入数据库
8213.TW 数据成功写入数据库
8215.TW 数据成功写入数据库
8222.TW 数据成功写入数据库
8249.TW 数据成功写入数据库
8261.TW 数据成功写入数据库
8271.TW 数据成功写入数据库
8341.TW 数据成功写入数据库
8367.TW 数据成功写入数据库
8374.TW 数据成功写入数据库
8404.TW 数据成功写入数据库
8411.TW 数据成功写入数据库
8422.TW 数据成功写入数据库
8429.TW 数据成功写入数据库
8438.TW 数据成功写入数据库
8442.TW 数据成功写入数据库
8443.TW 数据成功写入数据库
8454.TW 数据成功写入数据库
8462.TW 数据成功写入数据库
8463.TW 数据成功写入数据库
8464.TW 数据成功写入数据库
8466.TW 数据成功写入数据库
8467.TW 数据成功写入数据库
8473.TW 数据成功写入数据库
8476.TW 数据成功写入数据库
8478.TW 数据成功写入数据库
8481.TW 数据成功写入数据库
8482.TW 数据成功写入数据库
8487.TW 数据成功写入数据库
8488.TW 数据成功写入数据库
8499.TW 数据成功写入数据库
8926.TW 数据成功写入数据库
8940.TW 数据成功写入数据库
8996.TW 数据成功写入数据库
9103.TW 数据成功写入数据库
910322.TW 数据成功写入数据库
9105.TW 数据成功写入数据库
910861.TW 数据成功写入数据库
9110.TW 数据成功写入数据库
911608.TW 数据成功写入数据库
911622.TW 数据成功写入数据库
911868.TW 数据成功写入数据库
912000.TW 数据成功写入数据库
9136.TW 数据成功写入数据库
9802.TW 数据成功写入数据库
9902.TW 数据成功写入数据库
9904.TW 数据成功写入数据库
9905.TW 数据成功写入数据库
9906.TW 数据成功写入数据库
9907.TW 数据成功写入数据库
9908.TW 数据成功写入数据库
9910.TW 数据成功写入数据库
9911.TW 数据成功写入数据库
9912.TW 数据成功写入数据库
9914.TW 数据成功写入数据库
9917.TW 数据成功写入数据库
9918.TW 数据成功写入数据库
9919.TW 数据成功写入数据库
9921.TW 数据成功写入数据库
9924.TW 数据成功写入数据库
9925.TW 数据成功写入数据库
9926.TW 数据成功写入数据库
9927.TW 数据成功写入数据库
9928.TW 数据成功写入数据库
9929.TW 数据成功写入数据库
9930.TW 数据成功写入数据库
9931.TW 数据成功写入数据库
9933.TW 数据成功写入数据库
9934.TW 数据成功写入数据库
9935.TW 数据成功写入数据库
9937.TW 数据成功写入数据库
9938.TW 数据成功写入数据库
9939.TW 数据成功写入数据库
9940.TW 数据成功写入数据库
9941.TW 数据成功写入数据库
9941A.TW 数据成功写入数据库
9942.TW 数据成功写入数据库
9943.TW 数据成功写入数据库
9944.TW 数据成功写入数据库
9945.TW 数据成功写入数据库
9946.TW 数据成功写入数据库
9955.TW 数据成功写入数据库
9958.TW 数据成功写入数据库
2019-01-01 至 2024-08-23 期间数据已成功更新

In [14]:
pd.read_sql("select * from stock_data where trade_date='20190429'", engine).head()

     ts_code trade_date       open       high        low      close        vol
0    0055.TW   20190429  14.760545  14.921261  14.760545  14.921261  4901000.0
1    0056.TW   20190429  18.631784  18.638554  18.442216  18.516689  4207555.0
2    0057.TW   20190429  52.200001  52.200001  51.650002  52.000000    25000.0
3    0061.TW   20190429  18.780001  18.910000  18.660000  18.910000  1020800.0
4  006203.TW   20190429  32.840943  32.857925  32.552269  32.552269     3000.0

In [15]:
#获取交易日数据

pd.read_sql("select * from stock_data where trade_date='20190429' ",engine).head()

   ts_code trade_date       open       high        low      close        vol
0  0050.TW   20190429  70.359648  70.657781  70.274468  70.530014  3161957.0
1  0051.TW   20190429  27.643673  27.643673  27.306557  27.483543    11000.0
2  0052.TW   20190429  45.256821  45.256821  44.817432  44.817432   105666.0
3  0053.TW   20190429  30.906615  31.027817  30.906615  31.001846     4000.0
4  0055.TW   20190429  14.760545  14.921261  14.760545  14.921261  4901000.0

In [16]:
#获取某只股票数据
pd.read_sql("select * from stock_data where ts_code='2330.TW'",engine).head()

,ts_code,trade_date,open,high,low,close,vol
0,2330.TW,20190102,196.106761,196.106761,189.613160,190.046066,32900482.0
1,2330.TW,20190619,209.959809,211.258530,208.228182,211.258530,50164372.0
2,2330.TW,20190620,209.526918,212.557266,208.661104,212.124359,37836291.0
3,2330.TW,20190621,214.721741,215.154648,212.990114,215.154648,61164304.0
4,2330.TW,20190624,215.602005,216.496619,214.707391,215.602005,43300507.0

In [17]:
import pandas as pd
from pyecharts.charts import Bar
from pyecharts import options as opts
from sqlalchemy import create_engine

def plot_data(condition, title):
    engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:8080/postgres')
    data = pd.read_sql(f"select * from stock_data where {condition}", engine)
    
    # 计算每个交易日的股票数量
    count_ = data.groupby('trade_date')['ts_code'].count()
    attr = count_.index
    v1 = count_.values
    
    # 创建 Bar 图
    bar = Bar()
    bar.add_xaxis(attr.tolist())
    bar.add_yaxis('', v1.tolist())
    
    # 设置图表标题和其他配置
    bar.set_global_opts(
        title_opts=opts.TitleOpts(title=title, title_textstyle_opts=opts.TextStyleOpts(font_size=15)),
        xaxis_opts=opts.AxisOpts(name='交易日期'),
        yaxis_opts=opts.AxisOpts(name='股票数量'),
        datazoom_opts=opts.DataZoomOpts(),
    )
    
    return bar

# 示例调用
c1 = "close < 10"
t1 = "股价低于10元个股时间分布"
bar_chart = plot_data(c1, t1)

bar_chart.render('bar_chart.html')  # 将图表保存为 HTML 文件

'/Users/johnson/Library/CloudStorage/OneDrive-個人/Documents/Learning By Working/Pratice_SCRIPT/Py_Learn/MS_Stock/bar_chart.html'